{% trans_default_domain 'FOSUserBundle' %}

{% extends 'baseback.html.twig' %}
{% block title %}


    <h1 class="page-title">Ajouter Gérant &nbsp;&nbsp;<span class="badge badge-primary">{{ app.session.get('gerants') }} Gérants</span>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Dashboard</li>
        <li class="breadcrumb-item ">Gestion Gérants</li>
        <li class="breadcrumb-item active">Ajouter Gérant</li>
    </ol>
    <div class="page-header-actions">

        <a class="btn btn-success" href="{{ path('registerGerant') }}"><i class="icon wb-plus" aria-hidden="true"></i>Ajouter</a>
    </div>



{% endblock %}
{% block body %}
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>

        <div class="panel-body">

            <!-- ******************************************
            PAGE WRAPPER
            ********************************************** -->


            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {{ form_start(form, {'method': 'post', 'action': path('registerGerant'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_row(form.nom) }}
            {{ form_widget(form) }}
            <div>
                <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}"/>
            </div>
            {{ form_end(form) }}


        </div>
    </div>

{% endblock body %}
