{% extends 'baseback.html.twig' %}

  
{% block title %}


<h1 class="page-title">Gestion Gérants &nbsp;&nbsp;<span class="badge badge-primary">{{users.getTotalItemCount}} Gérants</span></h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Gestion Gérants </li>
      </ol>
      <div class="page-header-actions">
        
        <a class="btn btn-success" href="{{ path('registerGerant') }}"><i class="icon wb-plus" aria-hidden="true"></i>Ajouter</a>
      </div>
    

    
{% endblock %}
{% block body %}
   <div class="panel">
   <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>

<div class="panel-body container-fluid">
   

    <table class="table table-striped">
        <thead >
        <tr style="font-style: gras!important;padding:10px!important;text-transform : uppercase!important;background-color: #e8e7e7;">
            
            <th>Nom</th>
            <th>e-mail</th>
          

           


            <th>action</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        {% for role in user.roles if role == "ROLE_GERANT" %}
            <tr>
                <td class="font-weight-bold">{{ user.nom }}</td>
                <td>{{ user.email }} </td>


                <td>
                   
<button type="button" class="btn btn-icon btn-success waves-effect waves-light waves-round"> <a href="{{ path('editGerant', { 'id': user.id }) }}"><i style="color:white" class="icon wb-pencil" aria-hidden="true"></i></a></button>

                          

                  
                </td>
            </tr>
        {% endfor %}

        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
    {{ knp_pagination_render(users) }}
</div>
<br/>
<br/>
</div>

{% endblock %}










                
