{% extends 'baseback.html.twig' %}

{% block title %}


	<h1 class="page-title">


		Gestion Réservations&nbsp;&nbsp;</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="">Dashboard</a>
		</li>
		<li class="breadcrumb-item active">Gestion Réservations</li>
	</ol>
	<div class="page-header-actions"></div>

{% endblock %}
{% block body %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.css" integrity="sha256-n3ci71vDbbK59GUg1tuo+c3KO7+pnBOzt7BDmOe87s4=" crossorigin="anonymous"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.js" integrity="sha256-KgOC04qt96w+EFba7KuNt9sT+ahJua25I0I2rrkZHFo=" crossorigin="anonymous"></script>

	<div class="panel">
		<div class="panel-heading">

			<div class="panel panel-bordered animation-scale-up" style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 150ms;">


				<div class="panel-heading d-none">
					<h3 class="panel-title" >Filtre</h3>
					<div class="panel-actions"></div>
				</div>
				<div class="panel-body" style="padding-top:15px;
																								                padding-right:15px;
																								                padding-bottom:15px;
																								                padding-left:25px;">

					<div class="page-header d-none">
						<div class="page-title">
							<form class="pull-center hidden" role="search" id="nav-search-form" method="post" action="">


								<div class="container justify-content-start">
									<div class="row justify-content-start">

										<div class="col-2">
											<label>Société</label>
											<select class="form-control" id="inlineFormCustomSelect" name="search">
												<option selected></option>

												{% for societe in societes %}
													<option value="{{societe.id}}">{{societe.nom}}</option>
												{% endfor %}
											</select>
										</div>
										<style>
											#datePicker {
												cursor: pointer;
											}
										</style>

										<div class="col-8 mx-auto">

											<div class="container">
												<div class='col-md-8 mx-auto'>
													<label>Date</label>
													<div class="form-group">
														<div class='input-group date' data-toggle="datepicker" id="datePicker">
															<input type='text' class="form-control"/>
															<span class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

														</div>
													</div>


												</div>
											</div>
											<script type="text/javascript">

												$('[data-toggle="datepicker"]').datepicker();
											</script>
										</div>
									</div>

									<div class="page-header-actions">
										<div class="panel">
											<div class="panel-body container-fluid">
												<div class="page-header-actions">
													<br/><br/>
													<button style="text-align: right!important;" type="submit" class=" text-right btn btn-outline-primary">Filtrer</button>

												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>
					</div>
					<div class="panel-body container-fluid">

						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr style="font-style: gras!important;padding:10px!important;text-transform : uppercase!important;background-color: #e8e7e7;">
										<th>Heure</th>
										<th>Nom</th>
										<th>E-mail</th>
										<th>Sociéte</th>
										<th>Adresse</th>
										<th>Zone</th>
									
										<th>Total</th>
										<th class="text-center">Etat</th>
										<th class="text-center">Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for reservation in reservations %}
										<tr data-toggle="collapse" data-target="#collapseme-{{ reservation.id }}" class="border">
											<td>
												<i class="icon wb-time" aria-hidden="true"></i>
												{% if reservation.date %}
													{{ reservation.date|date('d/m/Y') }}
												{% endif %}
												<br/>
												{% if reservation.time %}
													{{ reservation.time }}
												{% endif %}
												-
												{% if reservation.endTime %}
													{{ reservation.endTime }}
												{% endif %}
											</td>
											<td>
												{{ reservation.client.nom }}
											</td>
											<td>
												{{ reservation.client.email }}
											</td>
											<td>
												{{ reservation.societe }}
											</td>
											<td>
												{{ reservation.adresse }}
											</td>
											<td>
												{{ reservation.zone }}
											</td>
											
											<td>
												<i class="icon wb-tag" aria-hidden="true"></i>&nbsp;
												{{ reservation.total_price }}&nbsp;€ HT</td>
											<td class="text-center">
										

												{% if reservation.etat == 0 %}
													<span class="badge badge-warning">En Attente</span>
												{% endif %}
												{% if reservation.etat == 1 %}
													<span class="badge badge-primary">Accepté</span>
												{% endif %}
												{% if reservation.etat == 2 %}
													<span class="badge badge-warning">En cours</span>
												{% endif %}
												{% if reservation.etat == 3 %}
													<span class="badge badge-success">Effectué</span>
												{% endif %}
												{% if reservation.etat == 4 %}
													<span class="badge badge-danger">Réfusé</span>
												{% endif %}
											</td>
											<td class="text-center">
												
											
												{% if reservation.etat == 0 %}
													<a class="btn btn-outline-success" href="{{ path('reservation_accepter', { 'id': reservation.id }) }}">
														<span class="glyphicon glyphicon-ok"></span>&nbsp;Confirmer
													</a>
													<a class="btn btn-outline-danger" href="{{ path('reservation_refuser', { 'id': reservation.id }) }}">
														<span class="glyphicon glyphicon-remove"></span>&nbsp;Annuler
													</a>
												{% endif %}
												{% if reservation.etat == 1 %}
													
													<a class="btn btn-outline-danger" href="{{ path('reservation_refuser', { 'id': reservation.id }) }}">
														<span class="glyphicon glyphicon-remove"></span>&nbsp;Annuler
													</a>
												{% endif %}
												{% if reservation.etat == 2 %}
													
													<a class="btn btn-outline-danger" href="{{ path('reservation_refuser', { 'id': reservation.id }) }}">
														<span class="glyphicon glyphicon-remove"></span>&nbsp;Annuler
													</a>
												{% endif %}
												{% if reservation.etat == 3 %}
													{# reservation effectuée #}
												{% endif %}
												{% if reservation.etat == 4 %}
												
													<a class="btn btn-outline-success" href="{{ path('reservation_accepter', { 'id': reservation.id }) }}">
														<span class="glyphicon glyphicon-ok"></span>&nbsp;Confirmer
													</a>
												{% endif %}

											{# 	{% if reservation.etat == 0 %}
													<a class="btn btn-outline-success" href="{{ path('reservation_accepter', { 'id': reservation.id }) }}">
														<span class="glyphicon glyphicon-ok"></span>&nbsp;Confirmer
													</a>
													<a class="btn btn-outline-danger" href="{{ path('reservation_refuser', { 'id': reservation.id }) }}">
														<span class="glyphicon glyphicon-remove"></span>&nbsp;Annuler
													</a>
												{% endif %} #}
												


											</td>
										</tr>
										<tr id="collapseme-{{ reservation.id }}" class="collapse out">
											<td colspan="7">
												<div>
													<div class="row mx-auto pl-2 border bg-light">
														<div class="col-xs-4">
														<label>{{ 'Voitures'|trans }}</label>
														</div>
														<div class="col-xs-8 mx-auto">
														<label>{{ 'Services'|trans }}</label>
														</div>
													</div>
													{%  for voiture in reservation|getReservationVehicles(reservation) %}


														<div class="row border mx-auto">
														<div class="col-xs-4">
															
															<ul>
															


																	<li>{{ voiture.voiture_id | getVehicle(voiture.voiture_id)}}</li>
																
															
															</ul>
														</div>
														<div class="col-xs-8">
															
															<ul>

																{%  for service in reservation| getReservationVehicles(reservation) %}
																	
																	{% if service.voiture.id == voiture.voiture_id %}
																		{%  for serv in service|getServicesOfReservation(reservation) %}
                                                                    <li>{{serv.lavage_id | getLavageName(serv.lavage_id)}}</li>
																	
                                                                    {% endfor %}
																	{% endif %}
																	
																	

																{% endfor %}
															</ul>
														</div>
														</div>
																
													{% endfor %}
													
													
													{# <div class="row">
														<div class="col-md-4">
															<label>{{ 'Voitures'|trans }}</label>
															<ul>
																{%  for voiture in reservation|getReservationVehicles(reservation) %}


																	<li>{{ voiture.voiture_id | getVehicle(voiture.voiture_id)}}</li>
																
																{% endfor %}
															</ul>
														</div>
														<div class="col-md-8">
															<label>{{ 'Services'|trans }}</label>
															<ul>

																{%  for service in reservation|getReservationVehicles(reservation) %}
																	{%  for serv in service|getServicesOfReservation(reservation) %}
                                                                    <li>{{serv.lavage_id | getLavageName(serv.lavage_id)}}</li>
                                                                    {% endfor %}
																	

																{% endfor %}
															</ul>
														</div>
													</div> #}
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

					{% endblock %}
