<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TWip</title>
   <link rel="icon" type="image/png" href="{{ asset('back/assets/images/logo.ico') }}"/>
    <link rel="shortcut icon" href="{{ asset('back/assets/images/logo.ico') }}">
<link rel="stylesheet" href="{{ asset('front/vendor/bootstrap/css/front.css') }}">
<link rel="stylesheet" href="{{ asset('front/vendor/bootstrap/css/front4.css') }}">
 <link rel="stylesheet" href="{{ asset('front/vendor/bootstrap/css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ asset('back/global/fonts/web-icons/web-icons.min.css') }}">
  <link href="//db.onlinewebfonts.com/c/da04b86d3c3bb5c18ee67f548ff9b6ad?family=Helvetica+Neue+LT+Pro+37+Thin+Condensed" rel="stylesheet" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body id="page-top">
 <style>
@import url("https://www.total.tn/modules/system/system.base.css?pz7ohb");
@import url("https://www.total.tn/modules/system/system.menus.css?pz7ohb");
@import url("https://www.total.tn/modules/system/system.messages.css?pz7ohb");
@import url("https://www.total.tn/modules/system/system.theme.css?pz7ohb");
</style>
<style>
@import url("https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/ui/themes/base/minified/jquery.ui.menu.min.css?pz7ohb");
@import url("https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/ui/themes/base/minified/jquery.ui.autocomplete.min.css?pz7ohb");
</style>
<style>
@import url("https://www.total.tn/sites/all/modules/contrib/date/date_api/date.css?pz7ohb");
@import url("https://www.total.tn/sites/all/modules/contrib/date/date_popup/themes/datepicker.1.7.css?pz7ohb");
@import url("https://www.total.tn/modules/field/theme/field.css?pz7ohb");
@import url("https://www.total.tn/sites/all/modules/contrib/scald/modules/fields/mee/css/editor-global.css?pz7ohb");
@import url("https://www.total.tn/modules/node/node.css?pz7ohb");
@import url("https://www.total.tn/sites/all/modules/contrib/picture/picture_wysiwyg.css?pz7ohb");
@import url("https://www.total.tn/sites/all/modules/contrib/scald_file/scald_file.css?pz7ohb");
@import url("https://www.total.tn/modules/search/search.css?pz7ohb");
@import url("https://www.total.tn/modules/user/user.css?pz7ohb");
@import url("https://www.total.tn/sites/all/modules/contrib/views/css/views.css?pz7ohb");
@import url("https://www.total.tn/sites/all/modules/contrib/ckeditor/css/ckeditor.css?pz7ohb");
</style>
<style>
@import url("https://www.total.tn/sites/all/modules/contrib/apachesolr_autocomplete/apachesolr_autocomplete.css?pzcbew");
@import url("https://www.total.tn/sites/all/modules/contrib/ctools/css/ctools.css?pzcbew");
@import url("https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_mega_gabarit/css/hidden_field.css?pzcbew");
@import url("https://www.total.tn/sites/all/themes/custom/business_theme/css/all.css?pzcbew");

</style>
  <style type="text/css" media="print">
    .header-top, .header-bottom, .footer-top { display: none; }
    .container-white { page-break-inside: avoid; }
  </style>
</head>
<body class="html front not-logged-in no-sidebars page-node page-node- page-node-48 node-type-mega-gabarit i18n-fr language-fr"  slider-time="5000">
<div id="block-total-webfactory-tealium-total-webfactory-tealium-block" class="block block-total-webfactory-tealium">


<script type="text/javascript">

  (function(a,b,c,d){
  a='//tags.tiqcdn.com/utag/totalms/tunisia-total/qa/utag.js';
  b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
  a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
    })();
</script>
  <header role="banner" class="region region-header" style="height: 119px">
  <div class="header-top display-none-mob inner clearfixlead-text-empty">
  <div class="header-top-logo">
              <a href="/" title="Back to main page" itemprop="url"><img itemprop="logo" typeof="foaf:Image" src="{{ asset('back/uploads/images/products/logo.png') }}" alt="Back to main page"></a>        </div><!-- @whitespace
  --><div class="header-top-slogan">
    <span>
          </span>
  </div><!-- @whitespace
  --><div class="header-top-menu">
          <ul class="display-none-mob"><li><a href="/">Actualités</a></li><li><a href="/" >Contactez-nous</a></li></ul>                            <a href="http://total.com/fr" title="Total.com" target="_blank" class="link-total top-menu-link border-left" aria-label="Total.com (New Window)" style="color:#DF0C36!important;">Total.com</a>      </div><!-- @whitespace
--></div>
  <div class="sliding-menu has-mega-menu">
  <div class="sliding-menu-header">
    <div class="wrapper">
      <div class="sticky-logo sticky-visible">
                  <a href="/" title="Back to main page" itemprop="url"><img style="max-height: 24px;" itemprop="logo" typeof="foaf:Image" src="{{ asset('back/uploads/images/products/logo.png') }}" alt="Back to main page"></a>              </div>
      <div class="sticky-top-slogan sticky-visible">
    <span>
          </span>
      </div>
      <div class="menu-container js-menu-content clearfix" style="display: block;">
                  <div id="block-total-webfactory-main-menu-total-main-menu--3" class="block block-total-webfactory-main-menu">
      <div>
    <nav class="main-menu">
  <div class="menu-container mega-menu js-menu-content" >
    <nav role="navigation">
      <ul class="total-menu " style="color:#666;">
              
              <li class="mega-menu-item js-hover-flying "><div class="link-wrapper myhover">
                        <a href="{{ path('homepage') }}" style="width:170px;font-size: 1rem;font-family: "HelveticaNeueW02-77BdCn 694066", Arial, sans-serif;" onmouseover="this.style.color='#DF0C36';" onmouseout="this.style.color='#666';" class="menu-mega-link hover-help"><strong>qui sommes-nous?</strong></a>   </div></li>
                 <li class="mega-menu-item js-hover-flying "><div class="link-wrapper">
                        <a href="{{ path('produit_liste') }}" style="width:140px;" onmouseover="this.style.color='#DF0C36';" onmouseout="this.style.color='#666';" class="menu-mega-link hover-help"><strong>nos produits</strong></a>   </div></li>
               
               <li class="mega-menu-item js-hover-flying "><div class="link-wrapper">
                        <a href="{{ path('add_reservation') }}" class="menu-mega-link hover-help"><strong style="color:#DF0C36!important;" >prendre rendez vous</strong> </a>   </div></li>
                  
              </ul>
      <span class="hover-flying" style="overflow: hidden; opacity: 0; left: 0px; width: 0px;"></span>
      <span class="hover-flying-active"></span>
    </nav>
  </div>
</nav>
  </div>
</div>
              </div>


      <div class="sliding-menu-right">

        <div class="cta-block">
          <div class="cta">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                       {% for role in app.user.roles if role == "ROLE_CLIENT" %}
                     
            <a href="{{ path('mes_reservations') }}" title="" style="margin-bottom: 20px;" class="sliding-menu-right--cta display-none-mob">Mes rendez-vous</a>              
            
            
                           <a  style="color:#DF0C36;margin-bottom: 10px;" class="sliding-menu-right--cta display-none-mob" href="{{ path('add_profil') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} </a>
                                                                <a href="{{ path('fos_user_security_logout') }}">
                                                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                                                </a>
                {% endfor %}
                    {% else %}
                          <a href="{{ path('registerClient') }}" title="" style="font-family: Helvetica Neue LT Pro 37 Thin Condensed !important;" class="sliding-menu-right--cta display-none-mob">s'inscrire</a>            
            
            
                           <a href="{{ path('fos_user_security_login') }}" title="" style="color:#DF0C36!important;margin-bottom: 20px;font-family: Helvetica Neue LT Pro 37 Thin Condensed !important;" class="sliding-menu-right--cta display-none-mob">Se connecter</a>  
                          
                           {% endif  %}  
                      </div>

          <div class="sliding-menu-toggle">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sliding-menu-content" style="height: 862px;">
  <ul class="sliding-menu-list visible-menu">
  <li class="sliding-menu-item items-parent">
  <li class="sliding-menu-item"><a href="{{ path('homepage') }}">qui sommes-nous?</a></li>
  <li class="sliding-menu-item"><a href="{{ path('produit_liste') }}">Nos produits</a></li>
  <li class="sliding-menu-item"><a href="{{ path('add_reservation') }}">prendre rendez vous</a></li>
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                       {% for role in app.user.roles if role == "ROLE_CLIENT" %}
  <li class="sliding-menu-item"><a href="">Mes rendez-vous</a></li>
   <li class="sliding-menu-item"><a href="{{ path('add_profil') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} </a>
  <a href="{{ path('fos_user_security_logout') }}">  {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
  </li>
   {% endfor %}
{% else %}
  <li class="sliding-menu-item"><a href="{{ path('registerClient') }}">s'inscrire</a></li>
  <li class="sliding-menu-item"><a href="{{ path('fos_user_security_login') }}">se connecter</a></li>
   
                           {% endif  %}  
  </ul>
 
  </div></div>
    <div class="search-bar-header hidden">
    <div class="search-bad-header--input inner">
              <form class="" action="/" method="post" id="search-api-page-search-form" accept-charset="UTF-8"><div><fieldset>
   
    
</fieldset></div></form>      
        <div class="search-bar--close">
            <div class="search-bar--close-icon"></div>
        </div>
    </div>
</div>
<form>
<div class="search-results inner hidden">
    
</header>

<div class="panel">
           
            </div>           
          
<div class="container">
<br/><br/>
          <h2 class="total-title-2" style="color:#DF0C36;">MES RENDEZ-VOUS</h2>
  
<hr style="    border: 0;
    height: 0;
    border-top: 1px solid #666;
   ">



<br/><br/>
          <h2 class="total-title-2" style="color:#DF0C36;">HISTORIQUE</h2>
  
<hr style="    border: 0;
    height: 0;
    border-top: 1px solid #666;
   ">
   <form class="contact100-form" >
     
            </form>

<footer role="contentinfo">
       
 
      <div class="footer-bottom">
    <div class="inner">
      <ul class="links"><li>© Total - 2019</li></ul>   </div>
  </div>
      <div aria-label="Scroll to top" id="nav_up" class="nav_up" style="display: block;"></div>
    </footer>


         

</div>
          </div></div>      </div></div>
  </section>
  </div>


 

 <script src="https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/jquery/1.8/jquery.min.js?v=1.8.3"></script>
<script src="https://www.total.tn/misc/jquery-extend-3.4.0.js?v=1.8.3"></script>
<script src="https://www.total.tn/sites/all/modules/smile/smile_asset_performance/js/jquery.once.min.js?v=1.2"></script>
<script src="https://www.total.tn/misc/drupal.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/ui/ui/minified/jquery.ui.core.min.js?v=1.10.2"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/ui/ui/minified/jquery.ui.widget.min.js?v=1.10.2"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/ui/ui/minified/jquery.ui.position.min.js?v=1.10.2"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/ui/ui/minified/jquery.ui.menu.min.js?v=1.10.2"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/ui/ui/minified/jquery.ui.autocomplete.min.js?v=1.10.2"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/eu_cookie_compliance/js/jquery.cookie-1.4.1.min.js?v=1.4.1"></script>
<script>document.createElement( "picture" );</script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_external_link/js/external_link.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/g/files/wompnd1221/f/languages/fr_-jFGazEXFy4Bdrgvx1ZOOMSNmnCcXohokTdXOeLP8gs.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_scald/modules/total_webfactory_scald_video/modules/total_webfactory_scald_damdy/js/total_webfactory_scald_damdy.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/scald_file/scald_file.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/scald/modules/providers/scald_image/scald_image.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_search/js/total_webfactory_search_auto.js?pz7ohb"></script>
<script>var switchTo5x = true;var useFastShare = true;</script>
<script>if (typeof stLight !== 'undefined') { stLight.options({"publisher":"dr-7816bd62-1887-57c1-4fb8-795347b572ce","version":"5x","onhover":false,"lang":"fr"}); }</script>
<script>var stLight;</script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/js/tw_helpers.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/js/i18n_cookie.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_business_splash_screen/js/total_webfactory_business_splash_screen.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_business_splash_screen/js/total_webfactory_business_welcome_popup.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_cookie/js/eu_cookie_compliance.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_popin/js/popin.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_mega_gabarit/js/jquery.marquee.min.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_mega_gabarit/js/alter-paragraph-text.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/themes/custom/business_theme/js/vendor/modernizr-2.6.2.min.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/themes/custom/business_theme/js/vendor/jquery-ui-1.10.4.custom.min.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/themes/custom/business_theme/js/vendor/jquery.ui.touch-punch.min.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/themes/custom/business_theme/js/vendor/jquery.bxslider.min.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/themes/custom/business_theme/js/vendor/audiojs/audio.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/themes/custom/business_theme/js/vendor/jquery.zoom.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/themes/custom/business_theme/js/scripts.js?pz7ohb"></script>
<script src="{{ asset('back/global/js/Plugin/table.min.js?v4.0.1') }}"></script>

</body>

</html>
