{% trans_default_domain 'FOSUserBundle' %}

{% block title %}


<h1 class="page-title">


 À Propos Mon Profile </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item active">À Propos Mon Profile</li>
      </ol>
      <div class="page-header-actions">
     
      
      </div>
    
{% endblock %}
{% block body %}
   <div class="panel">
   <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>

<div class="panel-body container-fluid">
   
<div class="table-responsive">
    <table class="table table-striped">

  <thead >
   
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ 'profile.show.username'|trans }}:</th>
      <td> {{ user.username }}</td>
      
    </tr>
    <tr>
      <th scope="row">{{ 'profile.show.email'|trans }}:</th>
      <td> {{ user.email }}</td>
      
    </tr>
    <tr>
      <th scope="row">Role:</th>
      <td>{{ user.roles[0] }}</td> 
    </tr>
   
    
   
    
     
  </tbody>
</table>
</div>
</div>
</div>

{% endblock %}