{% extends 'baseback.html.twig' %}

{% block title %}


<h1 class="page-title">


Gestion Sociétés &nbsp;&nbsp;<span class="badge badge-primary">{{app.session.get('Societes')}} Sociétés</span></h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item active">Gestion Sociétés</li>
      </ol>
      <div class="page-header-actions">
     
       <a class="btn btn-success" href="{{ path('societe_new') }}"><i class="icon wb-plus" aria-hidden="true"></i>Ajouter</a>
      </div>
    
{% endblock %}

{% block body %}


   <div class="panel">
   <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>

<div class="panel-body container-fluid">
   
<div class="table-responsive">
    <table class="table table-striped" >
        <thead >
        <tr style="font-style: gras!important;padding:10px!important;text-transform : uppercase!important;background-color: #e8e7e7;">   
                <th>Libellé</th>
                <th>Email</th>
                <th>Créneaux disponible</th>
                <th>zone géographique</th>
                <th class="text-center">Remise</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for societe in societes %}
            <tr>
                
                <td><h5>{{ societe.nom }}</h5></td>  
                <td>{{ societe.mail }}</td>                               
                <td>               
                    {{ societe.jourRes|join(',') }}</td>           
                <td>{{ societe.zone|join(',') }}</td>
                <td class="text-center">
                {% if societe.remise == "" %}
                          0&nbsp;%
                {% else %} 
                {{ societe.remise }}&nbsp;%
                {% endif %}
                </td>
                <td class="text-center">
                         <button type="button" class="btn btn-icon btn-success waves-effect waves-light waves-round">  <a href="{{ path('societe_edit', { 'id': societe.id }) }}"><i style="color:white" class="icon wb-pencil" aria-hidden="true"></i></a></button>

                         <button type="button" class="btn btn-icon btn-danger waves-effect waves-light waves-round" ><a href="{{ path('societe_show', { 'id': societe.id }) }}"><i style="color:white"class="icon wb-trash" aria-hidden="true"></i></a></button>                         
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br/>
 <div class="navigation">
    {{ knp_pagination_render(societes) }}
</div>
   </div>
    </div>
     </div>
      </div>

{% endblock %}
