<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>TWip</title>
    <link rel="icon" type="image/png" href="{{ asset('back/assets/images/logo.ico') }}"/>
    <link rel="shortcut icon" href="{{ asset('back/assets/images/logo.ico') }}">

    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('front/assets/favicon/PET2.PNG') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('front/assets/favicon/PET2.PNG') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('front/assets/favicon/PET2.PNG') }}">

    <!-- Stylesheets -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('back/global/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('back/global/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back/global/css/bootstrap-extend.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back/assets/css/site.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendor/bootstrap/css/front.css') }}">
    <!-- Plugins -->
    <link rel="stylesheet" href="{{ asset('back/global/vendor/animsition/animsition.css') }}">
    <link rel="stylesheet" href="{{ asset('back/global/vendor/asscrollable/asScrollable.css') }}">
    <link rel="stylesheet" href="{{ asset('back/global/vendor/switchery/switchery.css') }}">
    <link rel="stylesheet" href="{{ asset('back/global/vendor/intro-js/introjs.css') }}">
    <link rel="stylesheet" href="{{ asset('back/global/vendor/slidepanel/slidePanel.css') }}">
    <link rel="stylesheet" href="{{ asset('back/global/vendor/flag-icon-css/flag-icon.css') }}">
    <link rel="stylesheet" href="{{ asset('back/global/vendor/chartist/chartist.css') }}">
    <link rel="stylesheet" href="{{ asset('back/global/vendor/jvectormap/jquery-jvectormap.css') }}">
    <link rel="stylesheet" href="{{ asset('back/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css') }}">
    <link rel="stylesheet" href="{{ asset('back/assets/examples/css/dashboard/v1.css') }}">


    <!-- Fonts -->
    <link rel="stylesheet" href="{{ asset('back/global/fonts/weather-icons/weather-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('back/global/fonts/web-icons/web-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back/global/fonts/brand-icons/brand-icons.min.css') }}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!--[if lt IE 9]>
    <script src="{{ asset('back/global/vendor/html5shiv/html5shiv.min.js') }}"></script>
    <![endif]-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
    <script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>

    <!--[if lt IE 10]>
    <script src="{{ asset('back/global/vendor/media-match/media.match.min.js') }}"></script>
    <script src="{{ asset('back/global/vendor/respond/respond.min.js') }}"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="{{ asset('back/global/vendor/breakpoints/breakpoints.js') }}"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition dashboard site-menubar-hide" style="animation-duration: 800ms; opacity: 1;">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
                data-toggle="menubar" style="color: red !important;">
            <span class="sr-only">Toggle navigation</span>
            <span><i class="icon wb-align-justify" aria-hidden="true" style="color: gray !important;"></i> </span>
        </button>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
                data-toggle="collapse">
            <i class="icon wb-more-horizontal" aria-hidden="true" style="color:gray"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
            <img class="navbar-brand-logo" src="{{ asset('back/uploads/images/products/logo.png') }}" title="TWip">
            <span class="navbar-brand-text hidden-xs-down"> TWip</span>
        </div>

    </div>

    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            <!-- Navbar Toolbar -->
            <ul class="nav navbar-toolbar">
                <li class="nav-item hidden-float" id="toggleMenubar">
                    <a class="nav-link waves-effect waves-light waves-round" data-toggle="menubar" href="#"
                       role="button">
                        <i class="icon hamburger hamburger-arrow-left">
                            <span class="sr-only">Toggle menubar</span>
                            <span><i class="icon wb-align-justify" aria-hidden="true"
                                     style="color: gray !important;"></i> </span>
                        </i>
                    </a>
                </li>
                <li class="nav-item hidden-sm-down" id="toggleFullscreen">
                    <a class="nav-link  waves-effect waves-light waves-round" data-toggle="fullscreen" href="#"
                       role="button">
                        <span><i class="icon wb-expand" aria-hidden="true" style="color: gray !important;"></i></span>
                    </a>
                </li>


            </ul>
            <!-- End Navbar Toolbar -->

            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link waves-effect waves-light waves-round" data-toggle="dropdown"
                       href="javascript:void(0)" data-animation="scale-up" aria-expanded="false" role="button">
                        <span class="flag-icon flag-icon-fr"></span>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item waves-effect waves-light waves-round" href="javascript:void(0)"
                           role="menuitem">
                            <span class="flag-icon flag-icon-gb"></span> English</a>
                        <a class="dropdown-item waves-effect waves-light waves-round" href="javascript:void(0)"
                           role="menuitem">
                            <span class="flag-icon flag-icon-fr"></span> French</a>
                        <a class="dropdown-item waves-effect waves-light waves-round" href="javascript:void(0)"
                           role="menuitem">
                            <span class="flag-icon flag-icon-cn"></span> Chinese</a>
                        <a class="dropdown-item waves-effect waves-light waves-round" href="javascript:void(0)"
                           role="menuitem">
                            <span class="flag-icon flag-icon-de"></span> German</a>
                        <a class="dropdown-item waves-effect waves-light waves-round" href="javascript:void(0)"
                           role="menuitem">
                            <span class="flag-icon flag-icon-nl"></span> Dutch</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link navbar-avatar waves-effect waves-light waves-round" data-toggle="dropdown"
                       href="#" aria-expanded="false" data-animation="scale-up" role="button">
              <span class="avatar avatar-online">
               <img src={{ asset('back/global/portraits/5.jpg') }}></img>
                <i></i>
              </span>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item waves-effect waves-light waves-round"
                           href="{{ path('fos_user_profile_show') }}" role="menuitem"><i class="icon wb-user"
                                                                                         aria-hidden="true"></i>A Propos
                            Moi</a>
                        <a class="dropdown-item waves-effect waves-light waves-round"
                           href="{{ path('fos_user_change_password') }}" role="menuitem"><i class="icon wb-settings"
                                                                                            aria-hidden="true"></i>Modifier
                            Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item waves-effect waves-light waves-round"
                           href="{{ path('fos_user_security_logout') }}" role="menuitem"><i class="icon wb-power"
                                                                                            aria-hidden="true"></i>Déconnexion</a>
                    </div>
                </li>
                <link rel="icon" type="image/png" href="{{ asset('back/uploads/images/products/logo.png') }}"/>

            </ul>
            <!-- End Navbar Toolbar Right -->

            <div class="navbar-brand navbar-brand-center">
                <a href="">
                    <img class="navbar-brand-logo navbar-brand-logo-normal"
                         src="{{ asset('back/uploads/images/products/logo.png') }}" title="TWip">
                    <img class="navbar-brand-logo navbar-brand-logo-special"
                         src="{{ asset('back/uploads/images/products/logo.png') }}" title="Twip">
                </a>
            </div>
        </div>
        <!-- End Navbar Collapse -->

        <!-- Site Navbar Seach -->

        <!-- End Site Navbar Seach -->
    </div>
</nav>

<div class="site-menubar">
    <div class="site-menubar-header">
        <div class="cover overlay">
            <img class="cover-image" src="{{ asset('back/uploads/images/products/bg_mail.jpg') }}" alt="...">
            <div class="overlay-panel vertical-align overlay-background">
                <div class="vertical-align-middle">

                    <div class="site-menubar-info">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% for role in app.user.roles if role == "ROLE_GERANT" %}

                                <h5 class="site-menubar-user">GERANT</h5>
                                <p class="site-menubar-email">{{ app.user.email }}</p>
                            {% endfor %}
                            {% for role in app.user.roles if role == "ROLE_ADMIN" %}
                                <h5 class="site-menubar-user">ADMIN TOTAL</h5>
                                <p class="site-menubar-email">{{ app.user.email }}</p>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-menubar-body scrollable scrollable-inverse scrollable-vertical is-disabled"
         style="position: relative;">
        <div class="scrollable-container" style="">
            <div class="scrollable-content" style="">
                <ul class="site-menu" data-plugin="menu">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% for role in app.user.roles if role == "ROLE_GERANT" %}
                            <li class="site-menu-item ">
                                <a href="" class=" waves-effect waves-classic">
                                    <i class="site-menu-icon icon wb-layout md-view-dashboard" aria-hidden="true"></i>
                                    <span class="site-menu-title">Dashboard</span>
                                </a>
                            </li>

                            <li class="site-menu-item ">
                                <a href="{{ path('listOperateur') }}" class=" waves-effect waves-classic">
                                    <i class="site-menu-icon icon wb-users md-view-dashboard" aria-hidden="true"></i>
                                    <span class="site-menu-title">Gestion des opérateurs</span>
                                </a>
                            </li>

                            <li class="site-menu-item ">
                                <a href="{{ path('mes_lavage') }}" class=" waves-effect waves-classic">
                                    <i class="site-menu-icon icon fa fa-shower md-view-dashboard"
                                       aria-hidden="true"></i>
                                    <span class="site-menu-title">Service Lavage</span>
                                </a>
                            </li>

                            <li class="site-menu-item ">
                                <a href="{{ path('reservation_index') }}" class=" waves-effect waves-classic">
                                    <i class="site-menu-icon icon wb-time md-view-dashboard" aria-hidden="true"></i>
                                    <span class="site-menu-title">Gestion RDV</span>
                                </a>
                            </li>


                        {% endfor %}

                        {% for role in app.user.roles if role == "ROLE_ADMIN" %}
                            <li class="site-menu-item ">
                                <a href="" class=" waves-effect waves-classic">
                                    <i class="site-menu-icon icon wb-layout md-view-dashboard" aria-hidden="true"></i>
                                    <span class="site-menu-title">Dashboard</span>
                                </a>
                            </li>

                            <li class="site-menu-item ">
                                <a href="{{ path('listGerant') }}" class=" waves-effect waves-classic">
                                    <i class="site-menu-icon icon wb-user-circle md-view-dashboard"
                                       aria-hidden="true"></i>
                                    <span class="site-menu-title">Gestion Gérants</span>
                                </a>
                            </li>

                            <li class="site-menu-item ">
                                <a href="{{ path('listClient') }}" class=" waves-effect waves-classic">
                                    <i class="site-menu-icon icon wb-users md-view-dashboard" aria-hidden="true"></i>
                                    <span class="site-menu-title">Gestion Clients</span>
                                </a>
                            </li>

                            <li class="site-menu-item ">
                                <a href="{{ path('listAdresse') }}" class=" waves-effect waves-classic">
                                    <i class="site-menu-icon icon fa fa-building md-view-dashboard"
                                       aria-hidden="true"></i>
                                    <span class="site-menu-title">Gestion Adresses</span>
                                </a>
                            </li>

                            <li class="site-menu-item ">
                                <a href="{{ path('listSociete') }}" class=" waves-effect waves-classic">
                                    <i class="site-menu-icon icon fa fa-building md-view-dashboard"
                                       aria-hidden="true"></i>
                                    <span class="site-menu-title">Gestion Societés</span>
                                </a>
                            </li>

                            <li class="site-menu-item ">
                                <a href="{{ path('lavage_index') }}" class=" waves-effect waves-classic">
                                    <i class="site-menu-icon icon fa fa-shower md-view-dashboard"
                                       aria-hidden="true"></i>
                                    <span class="site-menu-title">Service Lavage</span>
                                </a>
                            </li>

                            <li class="site-menu-item ">
                                <a href="{{ path('coupon_index') }}" class=" waves-effect waves-classic">
                                    <i class="site-menu-icon icon wb-tag md-view-dashboard" aria-hidden="true"></i>
                                    <span class="site-menu-title">Gestion Coupons</span>
                                </a>
                            </li>

                            <li class="site-menu-item ">
                                <a href="{{ path('produit_index') }}" class=" waves-effect waves-classic">
                                    <i class="site-menu-icon icon wb-shopping-cart md-view-dashboard"
                                       aria-hidden="true"></i>
                                    <span class="site-menu-title">Gestion Produits</span>
                                </a>
                            </li>

                            <li class="site-menu-item ">
                                <a href="{{ path('zone_index') }}" class=" waves-effect waves-classic">
                                    <i class="site-menu-icon icon wb-map md-view-dashboard" aria-hidden="true"></i>
                                    <span class="site-menu-title">Gestion Zones</span>
                                </a>
                            </li>

                            <li class="site-menu-item ">
                                <a href="" class=" waves-effect waves-classic">
                                    <i class="site-menu-icon icon wb-help md-view-dashboard" aria-hidden="true"></i>
                                    <span class="site-menu-title">Qui Sommes Nous</span>
                                </a>
                            </li>

                        {% endfor %}
                    {% endif %}
                </ul>


            </div>
        </div>
        <div class="scrollable-bar scrollable-bar-vertical scrollable-bar-hide is-disabled" draggable="false">
            <div class="scrollable-bar-handle"></div>
        </div>
    </div>
</div>

<!-- Page -->
<div class="page">
    <div class="page-header">

        {% block title %}


        {% endblock %}
    </div>
    <div class="page-content container-fluid">
        {% block body %}


        {% endblock %}
    </div>
</div>
<!-- End Page -->


<!-- Footer -->
<footer class="site-footer fixed-bottom">
    <div class="site-footer-legal">© 2019 <a href="">TWip</a></div>
    <div class="site-footer-right">
        Crafted with by <a href="">APP4MOB</a>
    </div>
</footer>


<!-- Core  -->
<script src="{{ asset('back/global/vendor/babel-external-helpers/babel-external-helpers.js') }}"></script>
<script src="{{ asset('back/global/vendor/jquery/jquery.js') }}"></script>
<script src="{{ asset('back/global/vendor/popper-js/umd/popper.min.js') }}"></script>
<script src="{{ asset('back/global/vendor/bootstrap/bootstrap.js') }}"></script>
<script src="{{ asset('back/global/vendor/animsition/animsition.js') }}"></script>
<script src="{{ asset('back/global/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
<script src="{{ asset('back/global/vendor/asscrollbar/jquery-asScrollbar.js') }}"></script>
<script src="{{ asset('back/global/vendor/asscrollable/jquery-asScrollable.js') }}"></script>

<!-- Plugins -->
<script src="{{ asset('back/global/vendor/switchery/switchery.js') }}"></script>
<script src="{{ asset('back/global/vendor/intro-js/intro.js') }}"></script>
<script src="{{ asset('back/global/vendor/screenfull/screenfull.js') }}"></script>
<script src="{{ asset('back/global/vendor/slidepanel/jquery-slidePanel.js') }}"></script>
<script src="{{ asset('back/global/vendor/jquery-placeholder/jquery.placeholder.js') }}"></script>

<!-- Scripts -->
<script src="{{ asset('back/global/js/Component.js') }}"></script>
<script src="{{ asset('back/global/js/Plugin.js') }}"></script>
<script src="{{ asset('back/global/js/Base.js') }}"></script>
<script src="{{ asset('back/global/js/Config.js') }}"></script>
<script src="{{ asset('back/global/js/Plugin/editable-table.js?v4.0.1') }}"></script>
<script src="{{ asset('back/assets/js/Section/Menubar.js') }}"></script>
<script src="{{ asset('back/assets/js/Section/Sidebar.js') }}"></script>
<script src="{{ asset('back/assets/js/Section/PageAside.js') }}"></script>
<script src="{{ asset('back/assets/js/Plugin/menu.js') }}"></script>

<!-- Config -->
<script src="{{ asset('back/global/js/config/colors.js') }}"></script>
<script src="{{ asset('back/assets/js/config/tour.js') }}"></script>
<script>Config.set('back/assets', '../../assets');</script>

<!-- Page -->
<script src="{{ asset('back/assets/js/Site.js') }}"></script>
<script src="{{ asset('back/global/js/Plugin/asscrollable.js') }}"></script>
<script src="{{ asset('back/global/js/Plugin/slidepanel.js') }}"></script>
<script src="{{ asset('back/global/js/Plugin/switchery.js') }}"></script>
<script src="{{ asset('back/global/js/Plugin/jquery-placeholder.js') }}"></script>
<script src="{{ asset('back/global/js/Plugin/material.js') }}"></script>
<script src="{{ asset('back/assets/examples/js/dashboard/v1.js') }}"></script>
<script src="{{ asset('back/global/js/Plugin/matchheight.js') }}"></script>
<script src="{{ asset('back/global/js/Plugin/jvectormap.js') }}"></script>
<script src="{{ asset('back/global/js/Plugin/peity.js') }}"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet"/>


<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

<script>

    (function (document, window, $) {
        'use strict';

        var Site = window.Site;
        $(document).ready(function () {
            Site.run();
        });

        $('select').select2();

    })(document, window, jQuery);
</script>
</body>
</html>