<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TWip</title>
    {% block stylesheets %}
        <link rel="icon" type="image/png" href="{{ asset('back/assets/images/logo.ico') }}"/>
        <link rel="shortcut icon" href="{{ asset('back/assets/images/logo.ico') }}">
        <link rel="stylesheet" href="{{ asset('front/vendor/bootstrap/css/front4.css?v1') }}">
        <link rel="stylesheet" href="{{ asset('front/vendor/bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('back/global/fonts/web-icons/web-icons.min.css') }}">
        <link href="{{ asset('agenda/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="//db.onlinewebfonts.com/c/da04b86d3c3bb5c18ee67f548ff9b6ad?family=Helvetica+Neue+LT+Pro+37+Thin+Condensed"
              rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>

            @import url("/front/css/all.css?v2");

        </style>
        <script src="{{ asset('agenda/js/jquery.js') }}"></script>

    {% endblock %}
</head>


<body class="html front not-logged-in no-sidebars" style="    font-family: 'Helvetica Neue LT Pro 37 Thin Condensed' !important;
font-size: 18px!important;">
<div id="block-total-webfactory-tealium-total-webfactory-tealium-block" class="block block-total-webfactory-tealium">


    {% include "block/header.html.twig" %}

    {% block container %}{% endblock %}
</div>


{% block footer %}
    <!-- Footer -->
    <footer role="contentinfo">
        <div class="footer-bottom">
            <div class="inner">
                <ul class="links">
                    <li>© Total - 2019</li>
                </ul>
            </div>
        </div>
        <div aria-label="Scroll to top" id="nav_up" class="nav_up" style="display: block;"></div>
    </footer>
    <!-- End Footer -->
{% endblock %}

</body>


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <script src="/front/js/menu.js"></script>
{% endblock %}

</html>
