<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TWip</title>
   <link rel="icon" type="image/png" href="{{ asset('back/assets/images/logo.ico') }}"/>
    <link rel="shortcut icon" href="{{ asset('back/assets/images/logo.ico') }}">
<link rel="stylesheet" href="{{ asset('front/vendor/bootstrap/css/front.css') }}">
<link rel="stylesheet" href="{{ asset('front/vendor/bootstrap/css/front4.css') }}">
 <link rel="stylesheet" href="{{ asset('front/vendor/bootstrap/css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ asset('back/global/fonts/web-icons/web-icons.min.css') }}">
  <link href="//db.onlinewebfonts.com/c/da04b86d3c3bb5c18ee67f548ff9b6ad?family=Helvetica+Neue+LT+Pro+37+Thin+Condensed" rel="stylesheet" type="text/css"/>
</head>

<body id="page-top">
 <style>
@import url("https://www.total.tn/modules/system/system.base.css?pz7ohb");
@import url("https://www.total.tn/modules/system/system.menus.css?pz7ohb");
@import url("https://www.total.tn/modules/system/system.messages.css?pz7ohb");
@import url("https://www.total.tn/modules/system/system.theme.css?pz7ohb");
</style>
<style>
@import url("https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/ui/themes/base/minified/jquery.ui.menu.min.css?pz7ohb");
@import url("https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/ui/themes/base/minified/jquery.ui.autocomplete.min.css?pz7ohb");
</style>
<style>
@import url("https://www.total.tn/sites/all/modules/contrib/date/date_api/date.css?pz7ohb");
@import url("https://www.total.tn/sites/all/modules/contrib/date/date_popup/themes/datepicker.1.7.css?pz7ohb");
@import url("https://www.total.tn/modules/field/theme/field.css?pz7ohb");
@import url("https://www.total.tn/sites/all/modules/contrib/scald/modules/fields/mee/css/editor-global.css?pz7ohb");
@import url("https://www.total.tn/modules/node/node.css?pz7ohb");
@import url("https://www.total.tn/sites/all/modules/contrib/picture/picture_wysiwyg.css?pz7ohb");
@import url("https://www.total.tn/sites/all/modules/contrib/scald_file/scald_file.css?pz7ohb");
@import url("https://www.total.tn/modules/search/search.css?pz7ohb");
@import url("https://www.total.tn/modules/user/user.css?pz7ohb");
@import url("https://www.total.tn/sites/all/modules/contrib/views/css/views.css?pz7ohb");
@import url("https://www.total.tn/sites/all/modules/contrib/ckeditor/css/ckeditor.css?pz7ohb");
</style>
<style>
@import url("https://www.total.tn/sites/all/modules/contrib/apachesolr_autocomplete/apachesolr_autocomplete.css?pzcbew");
@import url("https://www.total.tn/sites/all/modules/contrib/ctools/css/ctools.css?pzcbew");
@import url("https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_mega_gabarit/css/hidden_field.css?pzcbew");
@import url("https://www.total.tn/sites/all/themes/custom/business_theme/css/all.css?pzcbew");

</style>
  <style type="text/css" media="print">
    .header-top, .header-bottom, .footer-top { display: none; }
    .container-white { page-break-inside: avoid; }
  </style>
</head>
<body class="html front not-logged-in no-sidebars page-node page-node- page-node-48 node-type-mega-gabarit i18n-fr language-fr"  slider-time="5000">
<div id="block-total-webfactory-tealium-total-webfactory-tealium-block" class="block block-total-webfactory-tealium">
   
    
<script type="text/javascript">
  

 

  </script>

<script type="text/javascript">
  (function(a,b,c,d){
  a='//tags.tiqcdn.com/utag/totalms/tunisia-total/qa/utag.js';
  b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
  a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
    })();
</script>



    {% include "block/header.html.twig" %}

    <section style="width: 100%!important;">

<div style=" width: 100%;
  height: 500px;
  background-image: url('back/uploads/images/products/bg.jpg');
  background-repeat: no-repeat;
   background-size: cover;
   background-position: center ;"
   > <div ><h1 class="title1"><br/><strong>NETTOYER VOTRE VOITURE <br/>SERVICE 24/7</strong></h1>
   <div style="text-align:center!important;color:white;">
    <br/>
    <button  class="btn1"><i class="icon wb-play" aria-hidden="true"></i>&nbsp;&nbsp;Obtenir un rendez-vous</button>

   <button  class="btn2"><i class="icon wb-play" aria-hidden="true"></i>&nbsp;&nbsp;Contactez nous</button>
   </div>
   </div>
 
</div>
           </section>
      

     
  <section class="main-content clearfix" role="main">
    <div id="node-48" class="node node-mega-gabarit timeline-none-column" about="/accueil" typeof="sioc:Item foaf:Document">
  <div class="paragraphs-items paragraphs-items-field-mega-gabarit-content paragraphs-items-field-mega-gabarit-content-full paragraphs-items-full mega-gabarit-content">
            <div data-position="1" class="container-grey container-mg clearfix parent"><div class="inner clearfix">        <div class="mega-gabarit mega_gabarit_text_bundle text-rte " about="" typeof="">
     
      
     
<div class="row">
  <div class="col-lg-6 col-sm-12"> <br/><h2 class="demo1"><strong style="color:#DF0C36;">TWIP</strong> qui sommes-nous?</h2>

  <span class="block-offer-custom--txt" style="font-size: 17px!important;
    font-family: Arial!important;color:#666;">Le rendez-vos de lavage de voiture <br/>notre service n'est pas un simple lavage, c'est un véritable<br/>traitement pour votre voiture. la voiture renait grace ccs, qui <br/>est une thérapie véritablement régénératrice. des recherches ont<br/> montré que le nettoyage sous pression à la vapeur empeche la <br/>corrosion pendant 2 ans par rapport à l'utlisation réguliére d'eau <br/>pour le nettoyage.</span>
  </div>
  <div class="col-lg-6 col-sm-12">
  <br/>
  <div class="row justify-content-start">
  <div class="col-lg-4 col-sm-12">  <img style=" max-width: 100%;height: 130px;
  " src="{{ asset('back/uploads/images/products/img_about1.png') }}"> 

  <img style=" max-width: 100%;height:130px;margin-top: 10px;
  " src="{{ asset('back/uploads/images/products/img_about2.png') }}" >  
  </div>
  <div class="col-lg-8 col-sm-12">
  
  <img style=" max-width: 100%;
  height:  83%;margin-left: -20px;" src="{{ asset('back/uploads/images/products/bg_mail.jpg') }}" >  
  </div>
</div>
  
  </div>
</div>


   </div>
     
      </div>
  </div>
              
      <section>
     <h1 style="text-align:center!important;font-family: Helvetica Neue LT Pro 37 Thin Condensed!important;!important;font-size: 24px!important;"><br/><br/><strong>NOS SERVICES</strong></h1>
  <br/>
<br/>

<div class="container" style="font-family: Arial!important;font-size: 17px!important;">
  <div class="row justify-content-md-center">
    <div class="col-sm">
     <center> <img  src="{{ asset('back/uploads/images/products/ic_rdv.png') }}" > 
     <br/>
     <br/>
     <br/>
     <strong style="font-family: Arial!important;font-size: 17px!important;">PRENDRE RENDEZ-VOUS</strong>
    
     <p style="font-family: Arial!important;font-size: 17px!important;color:#666;"><br/><br/>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
     
     </center>
    </div>
    <div class="col-sm">
       <center><img  src="{{ asset('back/uploads/images/products/ic_produit.png') }}" >  
       <br/>
       <br/>
       <br/>
       <strong style="font-family: Arial!important;font-size: 17px!important;">NOUS FOURNISSONS LES MEILLEURS PRODUITS</strong>
       
     <p style="font-family: Arial!important;font-size: 17px!important;color:#666;"><br/>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
       </center>
    </div>
    <div class="col-sm">
      <center>  <img  src="{{ asset('back/uploads/images/products/ic_satisf.png') }}" > 
      <br/>
      <br/>
      <br/>
      <strong style="font-family: Arial!important;font-size: 17px!important;">SATISFACTION</strong>
      
     <p style="font-family: Arial!important;font-size: 17px!important;color:#666;"><br/><br/>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
       </center>
    </div>
  </div>
</div>
<h1 style="text-align:center!important;font-family: Helvetica Neue LT Pro 37 Thin Condensed!important;!important;font-size: 24px!important;"><br><br><strong></strong></h1>
      </section>

<footer role="contentinfo">
        <div class="footer-top">
    
    <div style=" width: 100%;
  height: 150px;
  background-image: url('back/uploads/images/products/bg.jpg');
  background-repeat: no-repeat;
   background-size: cover;
   background-position: center ;"
   > <div>
   <div style="text-align:center!important;color:white;">
    <br/>
    <br/>
    <button  class="btn1"><i class="icon wb-play" aria-hidden="true"></i>&nbsp;&nbsp;Obtenir un rendez-vous</button>


   </div>
   </div>
 
</div>
 
      <div class="footer-bottom">
    <div class="inner">
      <ul class="links"><li>© Total - 2019</li></ul>   </div>
  </div>
      <div aria-label="Scroll to top" id="nav_up" class="nav_up" style="display: block;"></div>
    </footer>



          
  <style type="text/css">
    .storemap-store-locator input[type="checkbox"] + label {
      display: inline;
    }

    .storemap-store-locator input[type="checkbox"] + label {
      margin-left: 0;
    }

    .storemap-store-locator input[type="checkbox"] + label::before, input[type="radio"] + label::before {
      display: none;
    }
  </style>
</div>
          </div></div>      </div></div>
  </section>
  </div>

 <script src="https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/jquery/1.8/jquery.min.js?v=1.8.3"></script>
<script src="https://www.total.tn/misc/jquery-extend-3.4.0.js?v=1.8.3"></script>
<script src="https://www.total.tn/sites/all/modules/smile/smile_asset_performance/js/jquery.once.min.js?v=1.2"></script>
<script src="https://www.total.tn/misc/drupal.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/ui/ui/minified/jquery.ui.core.min.js?v=1.10.2"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/ui/ui/minified/jquery.ui.widget.min.js?v=1.10.2"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/ui/ui/minified/jquery.ui.position.min.js?v=1.10.2"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/ui/ui/minified/jquery.ui.menu.min.js?v=1.10.2"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/jquery_update/replace/ui/ui/minified/jquery.ui.autocomplete.min.js?v=1.10.2"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/eu_cookie_compliance/js/jquery.cookie-1.4.1.min.js?v=1.4.1"></script>
<script>document.createElement( "picture" );</script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_external_link/js/external_link.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/g/files/wompnd1221/f/languages/fr_-jFGazEXFy4Bdrgvx1ZOOMSNmnCcXohokTdXOeLP8gs.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_scald/modules/total_webfactory_scald_video/modules/total_webfactory_scald_damdy/js/total_webfactory_scald_damdy.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/scald_file/scald_file.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/contrib/scald/modules/providers/scald_image/scald_image.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_search/js/total_webfactory_search_auto.js?pz7ohb"></script>
<script>var switchTo5x = true;var useFastShare = true;</script>
<script>if (typeof stLight !== 'undefined') { stLight.options({"publisher":"dr-7816bd62-1887-57c1-4fb8-795347b572ce","version":"5x","onhover":false,"lang":"fr"}); }</script>
<script>var stLight;</script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/js/tw_helpers.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/js/i18n_cookie.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_business_splash_screen/js/total_webfactory_business_splash_screen.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_business_splash_screen/js/total_webfactory_business_welcome_popup.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_cookie/js/eu_cookie_compliance.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_popin/js/popin.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_mega_gabarit/js/jquery.marquee.min.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/modules/custom/total_webfactory/total_webfactory_mega_gabarit/js/alter-paragraph-text.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/themes/custom/business_theme/js/vendor/modernizr-2.6.2.min.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/themes/custom/business_theme/js/vendor/jquery-ui-1.10.4.custom.min.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/themes/custom/business_theme/js/vendor/jquery.ui.touch-punch.min.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/themes/custom/business_theme/js/vendor/jquery.bxslider.min.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/themes/custom/business_theme/js/vendor/audiojs/audio.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/themes/custom/business_theme/js/vendor/jquery.zoom.js?pz7ohb"></script>
<script src="https://www.total.tn/sites/all/themes/custom/business_theme/js/scripts.js?pz7ohb"></script>

</body>

</html>
