 
<body>
<h2> <strong> Formulaire De Contact</strong> </h2>
<hr>
<h3><p> Contacter nous </p></h3>
<p>{{form_errors(form)}}</p>
<hr>
<form role="form" id="fr" method="POST" action='{{path('my_app_mail_sendpage')}}' >
{{form_widget(form)}}
<input type="submit"/> </form>
</body>