{% trans_default_domain 'FOSUserBundle' %}
{% extends "log.html.twig" %}


{% block fos_user_content %}

  

 <h2 class="total-title-2" style="color:#DF0C36;">SE CONNECTER À TWIP</h2>
  
<hr>
<br/>
<div class="container-fluid" style="">

        <div class="row align-items-start ">


        
         <div class="col-lg-8 col-sm-12 order-last" style="background-image: url( {{ asset('back/uploads/images/products/bg_inscri.jpg') }});height:700px ;
                    background-repeat: round;
                    background-size: cover;" >

           
</div>
         <div class="col-lg-4 col-sm-12 order-first" style="border: 2px solid #e6e6e6;background-color: white;height:700px;padding-right: 50px;padding-left: 25px;">    
    <br/>
            
<br/><br/><br/><br/><br/>

                                                 <h3>{{ message }}</h3>

                                                   
                                           
                                        </div>
                                                </div> </div>
                                               

           </div>

{% endblock fos_user_content %}