{% extends "log.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}






 <h2 class="total-title-2" style="color:#DF0C36;">SE CONNECTER À TWIP</h2>
  
<hr>
<br/>
<div class="container-fluid" style="">

        <div class="row align-items-start ">


        
         <div class="col-lg-8 col-sm-12 order-last" style="background-image: url( {{ asset('back/uploads/images/products/bg_inscri.jpg') }});height:700px ;
                    background-repeat: round;
                    background-size: cover;" >

           
</div>
         <div class="col-lg-4 col-sm-12 order-first" style="border: 2px solid #e6e6e6;background-color: white;height:700px;padding-right: 50px;padding-left: 25px;">    
    <br/>
              <h1><strong>Se connecter</strong></h1>
<br/><br/><br/><br/>

                                                     <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
                                                   
                                           
                                        </div>
                                                </div> </div>
                                               

           </div>















    
{% endblock fos_user_content %}
