{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block subject %}

	{%- autoescape false -%}

		{{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
	{%- endautoescape -%}
{% endblock %}

{% block body_html %}

	<div style="background-color:#F0F0F0;">

		<div style="background-color:white;text-align:center;margin-left:150px;margin-right:150px; width:100%; height:100%;">
			{% block body_text %}


			{% autoescape false %}

				<h1 style="background-color:white;color:white;text-align:center"><img src="{{ asset('back/uploads/images/products/logo.png') }}" title="TWip"></img>
			</h1>
			<img style="height:40%" src="{{ asset('back/uploads/images/products/bg_mail.jpg') }}"></img>

		<h1 style="background-color:white;color:black;text-align:center">Bonjour !</h1>

		<p style="color:gray;font-size: 18px;">{{ 'registration.email.message'|trans() }}</p>
		<a style="color: white;" href="{{ confirmationUrl }}">
			<button style="display: inline-block;
								  border-radius: 4px;
								  background-color: #DF0733;
								  border: none;
								  color: white;
								  text-align: center;
								  font-size: 18px;
								  padding: 20px;
								  width: 400px;
								  transition: all 0.5s;
								  cursor: pointer;
								  margin: 5px;">Confirmer e-mail</button>
		</a>
	{% endautoescape %}

	<p style="color:gray;font-size: 18px;">Cordialement,
				 L'équipe TWIP</p>
</div></div>{% endblock %}{% endblock %}
