{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}
{% block body %}


    


                            


                                <div>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    {% endif %}
                                </div>

                                {% if app.request.hasPreviousSession %}
                                    {% for type, messages in app.session.flashbag.all() %}
                                        {% for message in messages %}
                                            <div class="flash-{{ type }}">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}

                                {{ form_start(form, {'method': 'post', 'action': path('register_admin'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                                {{ form_widget(form) }}
                                <div>
                                    <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
                                </div>
                                {{ form_end(form) }}
                            

{% endblock body %}
