{% trans_default_domain 'FOSUserBundle' %}

{% extends 'baseback.html.twig' %}
{% block title %}

	<h1 class="page-title">


		Ajouter Employé &nbsp;&nbsp;<span class="badge badge-primary">{{app.session.get('mesemployes')}}
			employes</span>
	</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="../index.html">Dashboard</a>
		</li>
		<li class="breadcrumb-item">Gestion Mes Employés
		</li>
        <li class="breadcrumb-item active">Ajouter Employé
		</li>
	</ol>
	<div class="page-header-actions">
		<a class="btn btn-success" href="{{ path('register_employe') }}">
			<i class="icon wb-plus" aria-hidden="true"></i>Ajouter</a>
	</div>
{% endblock title %}
{% block body %}
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title"></h3>
		</div>

		<div
			class="panel-body container-fluid">

			<!-- ******************************************
			    PAGE WRAPPER
			    ********************************************** -->


			<div>


				{{ form_start(form, {'method': 'post', 'action': path('register_employe'), 'attr': {'class': 'fos_user_registration_register'}}) }}
				{{ form_widget(form) }}
				<div>
					<input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}"/>
				</div>
				{{ form_end(form) }}


			</div>
		</div>


	{% endblock body %}
