{% trans_default_domain 'FOSUserBundle' %}
{% extends "log.html.twig" %}


{% block fos_user_content %}
    {# add this at the beginning of your template #}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {# this alternative theme is also available #}
    <h2 class="total-title-2" style="color:#DF0C36;">S'INSCRIRE À TWIP</h2>

    <hr>
    <br/>
    <div class="container-fluid" style="">

        <div class="row align-items-start ">
            <div class="col-lg-7 col-sm-12 order-last"
                 style="background-image: url( {{ asset('back/uploads/images/products/bg_inscri.jpg') }});height:800px ;
                         background-repeat: round;
                         background-size: cover;">


            </div>
            <div class="col-lg-5 col-sm-12 order-first"
                 style="border: 2px solid #e6e6e6;background-color: white;height:800px;padding-right: 50px;padding-left: 30px;font-size: 18px!important;font-family:"
                 Helvetica Neue LT Pro 37 Thin Condensed
            "!important;">
            <br/>
            <h2><strong>S'inscrire</strong></h2>
            <br/>
            <span>Vous avez déjà un compte twip? <a style="color:#007bff!important;font-size: 18px;font-family:"
                                                    Helvetica Neue LT Pro 37 Thin
                                                    Condensed"!important;" href="{{ path('fos_user_security_login') }}">Se connecter<a></span>

            <div style="font-size:100%!important;font-family:" Helvetica Neue LT Pro 37 Thin Condensed
            "!important;"><br/>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {{ form_start(form, {'method': 'post', 'action': path('register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}

        <div><input type="checkbox" value="remember-me1" id="rememberMe1" name="rememberMe1"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;je
            souhaite de recevoir des notifications de la part de Twip
        </div>
        <br/>
        <div><input type="checkbox" value="receive_sms" id="receive_sms" name="receive_sms" required> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;j'accepte
            les <a href="" style="color:#007bff!important;">conditions générales de vente </a></div>
        <br/>
        <br/>

        <div class="text-center">
            <button class="btn btn-danger btn-lg btn-block" type="submit" value="{{ 'registration.submit'|trans }}"/>
            <i class="icon wb-lock" aria-hidden="true"></i>&nbsp;&nbsp;S'inscrire</button>
        </div>
        {{ form_end(form) }}


    </div>
{% endblock fos_user_content %}