
{% extends 'baseback.html.twig' %}
{% block title %}


<h1 class="page-title">


Modifier Mot de passe</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
         <li class="breadcrumb-item"><a href="">Mon Profile</a></li>
        <li class="breadcrumb-item active">Modifier Mot de passe</li>
      </ol>
      <div class="page-header-actions">
      </div>
{% endblock %}
{% block body %}
{% block fos_user_content %}
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}
{% endblock %}
