{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
   <div class="panel">
   <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>

<div class="panel-body container-fluid">
   


{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-outline-success" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}


</div>

{% endblock %}