<style> strong, h2, h3 {
        z-index: 0 !important;
    }</style>
<header role="banner" class="region region-header" style="height: 119px">
    <div class="header-top display-none-mob inner clearfixlead-text-empty">
        <div class="header-top-logo">
            <a href="/" title="Back to main page" itemprop="url"><img itemprop="logo" typeof="foaf:Image"
                                                                      src="{{ asset('back/uploads/images/products/logo.png') }}"
                                                                      alt="Back to main page"></a>
        </div>
        <div class="header-top-menu">
            <ul class="display-none-mob">
                <li>
                <li><a href="/">Contactez-nous</a></li>
            </ul>
            <a href="http://total.com/fr" title="Total.com" target="_blank"
               class="link-total top-menu-link border-left" aria-label="Total.com (New Window)"
               style="color:#DF0C36!important;">Total.com</a>
        </div>
    </div>
    <div class="sliding-menu has-mega-menu">
        <div class="sliding-menu-header">
            <div class="wrapper">
                <div class="sticky-logo sticky-visible">
                    <a href="/" title="Back to main page" itemprop="url"><img style="max-height: 24px;"
                                                                              itemprop="logo" typeof="foaf:Image"
                                                                              src="{{ asset('back/uploads/images/products/logo.png') }}"
                                                                              alt="Back to main page"></a>
                </div>

                <div class="menu-container js-menu-content clearfix" style="display: block;">
                    <div id="block-total-webfactory-main-menu-total-main-menu--3"
                         class="block block-total-webfactory-main-menu">
                        <div>
                            <nav class="main-menu">
                                <div class="menu-container mega-menu js-menu-content">
                                    <nav role="navigation">
                                        <ul class="total-menu " style="color:#666;">

                                            <li class="mega-menu-item js-hover-flying ">
                                                <div class="link-wrapper myhover">
                                                    <a href="{{ path('homepage') }}"
                                                       style="width:170px;font-size: 1rem;font-family: "
                                                       HelveticaNeueW02-77BdCn 694066", Arial, sans-serif;"
                                                    onmouseover="this.style.color='#DF0C36';"
                                                    onmouseout="this.style.color='#666';" class="menu-mega-link
                                                    hover-help"><strong>qui sommes-nous?</strong></a>   </div>
                                            </li>
                                            <li class="mega-menu-item js-hover-flying ">
                                                <div class="link-wrapper">
                                                    <a href="{{ path('produit_liste') }}" style="width:140px;"
                                                       onmouseover="this.style.color='#DF0C36';"
                                                       onmouseout="this.style.color='#666';"
                                                       class="menu-mega-link hover-help"><strong>Nos
                                                            produits</strong></a></div>
                                            </li>

                                            {% if app.user %}
                                                <li class="mega-menu-item js-hover-flying ">
                                                    <div class="link-wrapper">
                                                        <a href="{{ path('front_reservation_new') }}"
                                                           class="menu-mega-link hover-help"><strong
                                                                    style="color:#DF0C36!important;">Prendre rendez
                                                                vous</strong> </a></div>
                                                </li>
                                            {% endif %}

                                        </ul>
                                        <span class="hover-flying"
                                              style="overflow: hidden; opacity: 0; left: 0px; width: 0px;"></span>
                                        <span class="hover-flying-active"></span>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>


                <div class="sliding-menu-right">

                    <div class="cta-block">
                        <div class="cta">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {% for role in app.user.roles if role == "ROLE_CLIENT" %}

                                    <a href="{{ path('front_reservation_index') }}" title="" style="margin-bottom:12px!important;
    font-size:18px!important;" class="sliding-menu-right--cta display-none-mob">Mes rendez-vous</a>


                                    <a style="color:#DF0C36;margin-bottom: 10px;"
                                       class="sliding-menu-right--cta display-none-mob"
                                       href="{{ path('add_profil') }}">{% if app.user.nom != "" and app.user.nom is not null %}{{ app.user.nom }}{% else %}{{ app.user.username }}{% endif %}  </a>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>


                                {% endfor %}
                            {% else %}
                                <a href="{{ path('register') }}" title="" style="margin-bottom:12px!important;
    font-size:18px!important;font-family: Helvetica Neue LT Pro 37 Thin Condensed !important;"
                                   class="sliding-menu-right--cta display-none-mob">s'inscrire</a>


                                <a href="{{ path('fos_user_security_login') }}" title="" style="color:#DF0C36!important;margin-bottom:12px!important;
    font-size:18px!important;font-family: Helvetica Neue LT Pro 37 Thin Condensed !important;"
                                   class="sliding-menu-right--cta display-none-mob">Se connecter</a>

                            {% endif %}
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="sliding-menu-content" style="height: 862px;">
            <ul class="sliding-menu-list visible-menu">
                <li class="sliding-menu-item items-parent">
                <li class="sliding-menu-item"><a href="{{ path('homepage') }}">qui sommes-nous?</a></li>
                <li class="sliding-menu-item"><a href="{{ path('produit_liste') }}">Nos produits</a></li>
                <li class="sliding-menu-item"><a href="{{ path('front_reservation_new') }}">prendre rendez vous</a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% for role in app.user.roles if role == "ROLE_CLIENT" %}
                        <li class="sliding-menu-item"><a href="">Mes rendez-vous</a></li>
                        <li class="sliding-menu-item"><a
                                    href="{{ path('add_profil') }}">{% if app.user.nom != "" and app.user.nom is not null %}{{ app.user.nom }}{% else %}{{ app.user.username }}{% endif %} </a>
                            <a href="{{ path('fos_user_security_logout') }}">  {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="sliding-menu-item"><a href="{{ path('registerClient') }}">s'inscrire</a></li>
                    <li class="sliding-menu-item"><a href="{{ path('fos_user_security_login') }}">se connecter</a>
                    </li>

                {% endif %}
            </ul>

        </div>
    </div>
    <div class="search-bar-header hidden">
        <div class="search-bad-header--input inner">
            <form class="" action="/" method="post" id="search-api-page-search-form" accept-charset="UTF-8">
                <div>
                    <fieldset>


                    </fieldset>
                </div>
            </form>
            <div class="search-bar--close">
                <div class="search-bar--close-icon"></div>
            </div>
        </div>
    </div>


</header>
