{% extends 'baseback.html.twig' %}

{% block title %}


<h1 class="page-title">


Gestion Produits&nbsp;&nbsp;<span class="badge badge-primary">{{ produits.getTotalItemCount }} Produits</span></h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item active">Gestion Produits</li>
      </ol>
      <div class="page-header-actions">

       <a class="btn btn-success" href="{{ path('produit_new') }}"><i class="icon wb-plus" aria-hidden="true"></i>Ajouter</a>
      </div>

{% endblock %}
{% block body %}
<div class="panel">
   <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>

<div class="panel-body container-fluid">

<div class="table-responsive">
    <table class="table table-striped" >
        <thead >
        <tr style="font-style: gras!important;padding:10px!important;text-transform : uppercase!important;background-color: #e8e7e7;">
                 <th class="text-center"></th>
                <th>Libelle</th>
                <th>Decription</th>
                <th>Prix</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                 <td class="text-center"><img src={{ asset('admin/uploads/images/products/' ~  produit.image) }} width="50px" width="50px"></img></td>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.decription }}</td>
                <td>{{ produit.prix }}&nbsp; €</td>
                <td>

                            <button type="button" class="btn btn-icon btn-danger waves-effect waves-light waves-round"><a href="{{ path('produit_delete', { 'id': produit.id }) }}"><i style="color:white"class="icon wb-trash" aria-hidden="true"></i></a></button>

                      <button type="button" class="btn btn-icon btn-success waves-effect waves-light waves-round"> <a href="{{ path('produit_edit', { 'id': produit.id }) }}"><i style="color:white" class="icon wb-pencil" aria-hidden="true"></i></a></button>


</td>





            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
 <div class="navigation">
    {{ knp_pagination_render(produits) }}
</div>
</div>
   </div>
{% endblock %}
