{% extends 'baseback.html.twig' %}

{% block title %}


	<h1 class="page-title">


		Dashboard&nbsp;&nbsp;</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('dashboard') }}">Dashboard</a>
		</li>

	</ol>
	<div class="page-header-actions"></div>

{% endblock %}
{% block body %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.css" integrity="sha256-n3ci71vDbbK59GUg1tuo+c3KO7+pnBOzt7BDmOe87s4=" crossorigin="anonymous"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.js" integrity="sha256-KgOC04qt96w+EFba7KuNt9sT+ahJua25I0I2rrkZHFo=" crossorigin="anonymous"></script>

	<div class="panel">
		<div class="panel-heading">

			<div class="panel panel-bordered animation-scale-up" style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 150ms;">


			{# 	<div class="panel-heading">
					<h3 class="panel-title">Filtre</h3>
					<div class="panel-actions"></div>
				</div> #}
				<div class="panel-body" style="padding-top:15px;
																																																                padding-right:15px;
																																																                padding-bottom:15px;
																																																                padding-left:25px;">

					<div class="page-header">
						{# <div class="page-title">
							<form class="pull-center hidden" role="search" id="nav-search-form" method="post" action="">


								<div class="container justify-content-start">
									<div class="row justify-content-start">

										<div class="col-2">
											<label>Employés</label>
											<select class="form-control" id="inlineFormCustomSelect" name="search">
												<option selected></option>

											</select>
										</div>
										<style>
											#datePicker {
												cursor: pointer;
											}
										</style>

										<div class="col-8 mx-auto">

											<div class="container">
												<div class='col-md-8 mx-auto'>
													<label>Date</label>
													<div class="form-group">
														<div class='input-group date' data-toggle="datepicker" id="datePicker">
															<input type='text' class="form-control"/>
															<span class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

														</div>
													</div>


												</div>
											</div>
											<script type="text/javascript">

												$('[data-toggle="datepicker"]').datepicker();
											</script>
										</div>
									</div>

									<div class="page-header-actions">
										<div class="panel">
											<div class="panel-body container-fluid">
												<div class="page-header-actions">
													<br/><br/>
													<button style="text-align: right!important;" type="submit" class=" text-right btn btn-outline-primary">Filtrer</button>

												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div> #}
					</div>
					<div class="panel-body container-fluid">
						
                        
                       
                        <div class="col-lg-12">
                            <div id="div_chart"></div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div id="div_chart2"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div id="div_chart3"></div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div id="div_chart4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


					</div>

					<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
					<script type="text/javascript">

						{{ gc_draw(columnChart, 'div_chart') }}
                        {{ gc_draw(corechart, 'div_chart2') }}
                        {{ gc_draw(LineChart, 'div_chart3') }}
                        {{ gc_draw(donutchart, 'div_chart4') }}
					</script>
        </div>
	</div>
   
        
        
        

    
				{% endblock %}
