{% extends 'baseback.html.twig' %}

{% block title %}


    <h1 class="page-title">


            Gestion Coupons &nbsp;&nbsp;<span class="badge badge-primary">{{ coupons.getTotalItemCount }} Coupons</span></h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item active">Gestion Coupons</li>
    </ol>
    <div class="page-header-actions">
        <a href="" class="btn btn-outline-secondary">Importer</a>
        <a class="btn btn-success" href="{{ path('coupon_new') }}"><i class="icon wb-plus" aria-hidden="true"></i>Ajouter</a>
    </div>

{% endblock %}



{% block body %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"></h3>
    </div>

    <div class="panel-body container-fluid">

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr style="font-style: gras!important;padding:10px!important;text-transform : uppercase!important;background-color: #e8e7e7;">


                    <th>Valeur</th>
                    <th>Code</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for coupon in coupons %}

                    <td><h5>{{ coupon.valeur }}&nbsp;%</h5></td>
                    <td>{{ coupon.code }}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-icon btn-success waves-effect waves-light waves-round"><a
                                    href="{{ path('coupon_edit', { 'id': coupon.id }) }}"><i style="color:white"
                                                                                             class="icon wb-pencil"
                                                                                             aria-hidden="true"></i></a>
                        </button>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <br/>
            <br/>
            <div class="navigation">
                {{ knp_pagination_render(coupons) }}
            </div>
        </div>
    </div>

    {% endblock %}
