{% extends 'baseback.html.twig' %}

{% block title %}
    <h1 class="page-title">


        Gestion Coupons </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item">Gestion Coupons</li>
        <li class="breadcrumb-item active">Ajouter Coupons</li>
    </ol>
    <div class="page-header-actions">
        <button type="button" class="btn btn-outline-secondary">Importer</button>
        <a class="btn btn-success" href="{{ path('coupon_new') }}"><i class="icon wb-plus" aria-hidden="true"></i>Ajouter</a>
    </div>



{% endblock %}

    {% block body %}
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>

            <div class="panel-body container-fluid">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-outline-success" type="submit" value="Ajouter"/><a class="btn btn-outline-info"
                                                                                         href="{{ path('coupon_index') }}"
                                                                                         style="margin-left: 10px;">Retour</a>
                {{ form_end(form) }}


            </div>
        </div>
    {% endblock %}
