{% trans_default_domain 'FOSUserBundle' %}
{% extends "log.html.twig" %}


{% block fos_user_content %}

   <h2 class="total-title-2" style="color:#DF0C36;">SE CONNECTER À TWIP</h2>

<hr style="    border: 0;
    height: 0;
    border-top: 1px solid #666;
   ">
<br/>
<div class="container-fluid" style="">

        <div class="row align-items-start ">



         <div class="col-lg-7 col-sm-12 order-last" style="background-image: url( {{ asset('back/uploads/images/products/bg_inscri.jpg') }});height:810px ;
                    background-repeat: round;
                    background-size: cover;" >


</div>
         <div class="col-lg-5 col-sm-12 order-first" style="border: 2px solid #e6e6e6;background-color: white;height:810px;padding-right: 50px;padding-left: 25px;">
    <br/>
              <h1><strong>Se connecter</strong></h1>


                                                            <div>
                                                        <div>
                                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                                                <a href="{{ path('fos_user_security_logout') }}">
                                                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                                                </a>
                                                            {% else %}
                                                            {% endif %}
                                                        </div>

                                                        {% if app.request.hasPreviousSession %}
                                                            {% for type, messages in app.session.flashbag.all() %}
                                                                {% for message in messages %}
                                                                    <div class="flash-{{ type }}">
                                                                        {{ message }}
                                                                    </div>
                                                                {% endfor %}
                                                            {% endfor %}
                                                        {% endif %}

                                                {% if app.request.hasPreviousSession %}
                                                    {% for type, messages in app.session.flashbag.all() %}
                                                        {% for message in messages %}
                                                            <div class="flash-{{ type }}">
                                                                {{ message }}
                                                            </div>
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endif %}


                                                {% if error %}
                                                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                                {% endif %}
                                                        <br/>
                                                        <br/>


                                                    <form action="{{ path("fos_user_security_check") }}" method="post" style="color: red">


                                                        {% if csrf_token %}
                                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                                        {% endif %}
                                                        <div class="form_group">
                                                         <label><h6>Nom d'utilisateur</h6></label>
                                                            <div class="input-group input-group-lg" style="background-color:white!imporant;">
                                                                <input style="background-color:white!imporant;font-size: 14px;line-height: 1.3333333333;border-radius: .286rem;" type="text" required="" class="form-control" id="username"   name="_username" value="{{ last_username }}" autocomplete="username">

                                                         </div>
                                                        </div>
                                                            <br/>
                                                             <br/>
                                                        <div class="form-group">
                                                          <label> <h6> Mot de passe</h6></label>
                                                            <div class="input-group input-group-lg" style="background-color:white!imporant;">
                                                                <input style="background-color:white!imporant;font-size: 14px;line-height: 1.3333333333;border-radius: .286rem;" type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control">
                                                            </div>
                                                        </div>





                                                        <label class="checkbox">
        <h6><input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Se souvenir de moi</h6>
      </label>




                                                           <br/>
                                                            <br/>

                                                             <button type="submit" id="_submit"  class="btn btn-danger btn-lg btn-block" name="_submit" action="{{ path('site_homepage') }}" value="{{ 'security.login.submit'|trans }}" /> <i class="icon wb-lock" aria-hidden="true"></i>&nbsp;&nbsp;Se connecter</button>
                                                         <br/>
                                                            <br/>
                                                            <br/>
                                                             <br/>
                                                        <div class="text-center"><a style="color:#007bff!important;" href="{{ path('fos_user_resetting_request') }}">j'ai oublié mon mot de passe </a></div>
                                                        <br/>

                                                        <div class="text-center"> <span style="color:gray" >Nouveau sur Twip? <span><a style="color:#007bff!important;" href="{{ path('registerClient') }}">S'inscrire</a></div>

                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                     <br/>



                                        </div>
                                                </div> </div>


           </div>
{% endblock fos_user_content%}