


   {% block style %}
      

   {% endblock style %}

{% block jquery %}
    
{% endblock jquery %}




{% block body %}
<!-- <center>
    <iframe src="https://calendar.google.com/calendar/embed?height=1000&amp;wkst=1&amp;hl=fr&amp;bgcolor=%23cccccc&amp;src=esprit.tn_8huc6vmev5cbdob61p2k9naos4%40group.calendar.google.com&amp;color=%23875509&amp;ctz=Africa%2FTunis" style="border:solid 1px #777" width="1200" height="1000" frameborder="0" scrolling="no"></iframe>
</center>-->















    









    <!--Edit Event Modal -->
    <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" method="POST" action="">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="type"> </h4>
                    </div>

                    <div class="modal-body">

                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Client(e)</label>
                            <div class="col-sm-10">
                                <input readonly type="text" name="client" class="form-control" id="client" placeholder="client">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Voiture</label>
                            <div class="col-sm-10">
                                <input readonly type="text" name="Voiture" class="form-control" id="Voiture" placeholder="Voiture">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="start" class="col-sm-2 control-label">Date/Heure départ</label>
                            <div class="col-sm-10">
                                <input  readonly type="text" id="startEvent" class="form-control"   value=""  >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="start" class="col-sm-2 control-label">Date/Heure arrivée</label>
                            <div class="col-sm-10">
                                <input   readonly type="text" name="endEvent" class="form-control" id="endEvent" value="" >
                            </div>
                        </div>

                        <input type="hidden" name="id" class="form-control" id="id">


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                     </div>
                </form>
            </div>
        </div>
    </div>

    </div>
    <!-- /.container -->










    <!-- Bootstrap Core JavaScript -->
    <!-- FullCalendar -->
   




{% endblock body %}



