{% extends 'baseback.html.twig' %}

{% block title %}


    <h1 class="page-title">Modifier service</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item">Liste des services</li>
        <li class="breadcrumb-item active">Modifier service</li>
    </ol>
    <div class="page-header-actions">

        <a class="btn btn-success" href="{{ path('lavage_new') }}"><i class="icon wb-plus" aria-hidden="true"></i>Ajouter</a>
    </div>

{% endblock %}
{% block body %}

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>

        <div class="panel-body container-fluid col-lg-6">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn btn-outline-warning" type="submit" value="Modifier"/>
            {{ form_end(edit_form) }}

            {#    <br/>
                        <a class="btn btn-outline-info" href="{{ path('lavage_index') }}">Retour</a>

                        {{ form_start(delete_form) }}
                         <br/>
                            <input class="btn btn-outline-danger" type="submit" value="Delete">
                        {{ form_end(delete_form) }} #}
        </div>
    </div>
    </div>
{% endblock %}
