{% extends 'baseback.html.twig' %}

{% block title %}


    <h1 class="page-title">Liste des services &nbsp;&nbsp;<span
                class="badge badge-primary">{{ lavages.getTotalItemCount }}  Services</span></h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item active">Liste des services</li>
    </ol>
    <div class="page-header-actions">

        <a class="btn btn-success" href="{{ path('lavage_new') }}"><i class="icon wb-plus" aria-hidden="true"></i>Ajouter</a>
    </div>

{% endblock %}
{% block body %}

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>

        <div class="panel-body container-fluid">

            <div class="table-responsive">
                <table class="table table-striped table-editable">
                    <thead>
                    <tr style="font-style: gras!important;padding:10px!important;text-transform : uppercase!important;background-color: #e8e7e7;">

                        <th>Service</th>
                        <th>Mini</th>

                        <th>Citadine</th>

                        <th>Monospace/suv</th>

                        <th>Camionnette</th>

                        <th>Moto</th>


                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lavage in lavages %}
                        <tr>

                            <td>{{ lavage.name }}</td>
                            <td class="pt-3-half" contenteditable="true">

                                {% if lavage.miniPrix == "" %}
                                    Sur devis
                                {% else %}
                                    <span class="badge badge-outline badge-default my-badge">{{ lavage.miniPrix }}</span>
                                    <span>&nbsp;€ </span>
                                    <br/><span
                                        class="badge badge-outline badge-default my-badge2">{{ lavage.miniTemps }}</span>
                                    <span>&nbsp;Minutes</span>
                                {% endif %}
                            </td>

                            <td class="pt-3-half" contenteditable="true">
                                {% if lavage.citadinePrix == "" %}
                                    Sur devis
                                {% else %}
                                    <span class="badge badge-outline badge-default my-badge">{{ lavage.citadinePrix }}</span>
                                    <span>&nbsp;€ </span>
                                    <br/><span
                                        class="badge badge-outline badge-default my-badge2">{{ lavage.citadineTemps }}</span>
                                    <span>&nbsp;Minutes</span>
                                {% endif %}
                            </td>

                            <td class="pt-3-half" contenteditable="true">
                                {% if lavage.monoPrix == "" %}
                                    Sur devis
                                {% else %}
                                    <span class="badge badge-outline badge-default my-badge">{{ lavage.monoPrix }}</span>
                                    <span>&nbsp;€ </span>
                                    <br/>
                                    <span class="badge badge-outline badge-default my-badge2">{{ lavage.monoTemps }}</span>
                                    <span>&nbsp;Minutes</span>
                                {% endif %}
                            </td>

                            <td class="pt-3-half" contenteditable="true">
                                {% if lavage.camionPrix == "" %}
                                    Sur devis
                                {% else %}
                                    <span class="badge badge-outline badge-default my-badge">{{ lavage.camionPrix }}</span>
                                    <span>&nbsp;€ </span>
                                    <br/><span
                                        class="badge badge-outline badge-default my-badge2">{{ lavage.camionTemps }}</span>
                                    <span>&nbsp;Minutes</span>
                                {% endif %}
                            </td>

                            <td class="pt-3-half" contenteditable="true">
                                {% if lavage.camionPrix == "" %}
                                    Sur devis
                                {% else %}
                                    <span class="badge badge-outline badge-default my-badge"> {{ lavage.motoPrix }}</span>
                                    <span>&nbsp;€ </span>
                                    <br/><span
                                        class="badge badge-outline badge-default my-badge2">{{ lavage.motoTemps }}</span>
                                    <span>&nbsp;Minutes</span>
                                {% endif %}
                            </td>


                            <td class="text-center">


                                <button type="button"
                                        class="btn btn-icon btn-success waves-effect waves-light waves-round"><a
                                            href="{{ path('lavage_edit', { 'id': lavage.id }) }}"><i style="color:white"
                                                                                                     class="icon wb-pencil"
                                                                                                     aria-hidden="true"></i></a>
                                </button>
                                &nbsp;&nbsp;

                                <button type="button"
                                        class="btn btn-icon btn-danger waves-effect waves-light waves-round"><a
                                            href="{{ path('lavage_delete', { 'id': lavage.id }) }}"><i
                                                style="color:white"
                                                class="icon wb-trash"
                                                aria-hidden="true"></i></a>
                                </button>


                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    </div>
    <script>
        const $tableID = $('#table');
        const $BTN = $('#export-btn');
        const $EXPORT = $('#export');

        const newTr = `
<tr class="hide">
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half" contenteditable="true">Example</td>
  <td class="pt-3-half">
    <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a></span>
    <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a></span>
  </td>
  <td>
    <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light">Remove</button></span>
  </td>
</tr>`;

        $('.table-add').on('click', 'i', () => {

            const $clone = $tableID.find('tbody tr').last().clone(true).removeClass('hide table-line');

            if ($tableID.find('tbody tr').length === 0) {

                $('tbody').append(newTr);
            }

            $tableID.find('table').append($clone);
        });

        $tableID.on('click', '.table-remove', function () {

            $(this).parents('tr').detach();
        });

        $tableID.on('click', '.table-up', function () {

            const $row = $(this).parents('tr');

            if ($row.index() === 1) {
                return;
            }

            $row.prev().before($row.get(0));
        });

        $tableID.on('click', '.table-down', function () {

            const $row = $(this).parents('tr');
            $row.next().after($row.get(0));
        });

        // A few jQuery helpers for exporting only
        jQuery.fn.pop = [].pop;
        jQuery.fn.shift = [].shift;

        $BTN.on('click', () => {

            const $rows = $tableID.find('tr:not(:hidden)');
            const headers = [];
            const data = [];

            // Get the headers (add special header logic here)
            $($rows.shift()).find('th:not(:empty)').each(function () {

                headers.push($(this).text().toLowerCase());
            });

            // Turn all existing rows into a loopable array
            $rows.each(function () {
                const $td = $(this).find('td');
                const h = {};

                // Use the headers from earlier to name our hash keys
                headers.forEach((header, i) => {

                    h[header] = $td.eq(i).text();
                });

                data.push(h);
            });

            // Output the result
            $EXPORT.text(JSON.stringify(data));
        });
    </script>
{% endblock %}
