{% extends 'baseback.html.twig' %}

{% block title %}


<h1 class="page-title">


Liste des services &nbsp;&nbsp;<span class="badge badge-primary">{{ lavages.getTotalItemCount }}Services</span></h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item active">Liste des services</li>
      </ol>
      <div class="page-header-actions">
     
      </div>
    
{% endblock %}
{% block body %}
    
   <div class="panel">
   <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>

<div class="panel-body container-fluid">
   
<div class="table-responsive">
    <table class="table table-striped" >
        <thead >
        <tr style="font-style: gras!important;padding:10px!important;text-transform : uppercase!important;background-color: #e8e7e7;">
               
                <th>Service</th>
                <th>Mini</th>
                
                <th>Citadine</th>
               
                <th>Monospace/suv</th>
               
                <th>Camionnette</th>
                
                <th>Moto</th>
                <th>Statut</th>
               
                 <th class="text-center">Action</th>
              
                
            </tr>
        </thead>
        <tbody>
        {% for lavage in lavages %}
            <tr>
             
              {#   <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                 {% if lavage.activation == "1" %}
                 <input class="form-check-input" type="checkbox" value="{{ lavage.activation }}" checked/>{{ lavage.name }}
                    {% else %}   
                    <input class="form-check-input" type="checkbox" value="{{ lavage.activation }}" />
                {{ lavage.name }}
                  {% endif %}
                </td> #}
                <td>{{ lavage.name }}</td>
                <td>
                
                 {% if lavage.miniPrix == "" %}
                 Sur devis
                    {% else %}   
                <span class="badge badge-outline badge-default my-badge">{{ lavage.miniPrix }}</span><span>&nbsp;€ <span>
             <br/><span  class="badge badge-outline badge-default my-badge2">{{ lavage.miniTemps }}</span><span>&nbsp;Minutes<span>  
                 {% endif %}
                </td>
              
                <td>
                  {% if lavage.citadinePrix == "" %}
                 Sur devis
                    {% else %}   
                <span class="badge badge-outline badge-default my-badge">{{ lavage.citadinePrix }}</span><span>&nbsp;€ <span>
                  <br/><span  class="badge badge-outline badge-default my-badge2">{{ lavage.citadineTemps }}</span><span>&nbsp;Minutes<span>  
                   {% endif %}
                 </td>
               
                <td>
                  {% if lavage.monoPrix == "" %}
                 Sur devis
                    {% else %}  
                 <span class="badge badge-outline badge-default my-badge">{{ lavage.monoPrix }}</span><span>&nbsp;€ <span>
                 <br/><span  class="badge badge-outline badge-default my-badge2">{{ lavage.monoTemps }}</span><span>&nbsp;Minutes<span> 
               {% endif %}
               </td>
             
                <td>
                 {% if lavage.camionPrix == "" %}
                 Sur devis
                    {% else %}  
                  <span class="badge badge-outline badge-default my-badge">{{ lavage.camionPrix }}</span><span>&nbsp;€ <span>
                 <br/><span  class="badge badge-outline badge-default my-badge2">{{ lavage.camionTemps }}</span><span>&nbsp;Minutes<span> 
               {% endif %}
               </td>
               
                <td> 
                  {% if lavage.camionPrix == "" %}
                 Sur devis
                    {% else %}  
                 <span class="badge badge-outline badge-default my-badge"> {{ lavage.motoPrix }}</span><span>&nbsp;€ <span>
                 <br/><span  class="badge badge-outline badge-default my-badge2">{{ lavage.motoTemps }}</span><span>&nbsp;Minutes<span> 
                {% endif %}
               </td>
                	{# colonne Activation #}
                   {% set verif = false %}
               <td class="text-center">  
                {% if hasLavage %}
                    {% for activation in hasLavage %}
                      {% if activation.lavage.id == lavage.id %}
                         <i class="icon wb-check" aria-hidden="true" style="color:green"></i>
                        {% set verif = true %}
                      {% endif %}
                  {% endfor %}
                  {% if verif == false %}
                     <i class="icon wb-close" aria-hidden="true" style="color:red"></i>
                  {% endif %}
                {% else %}
                  {% if verif == false %}
                     <i class="icon wb-close" aria-hidden="true" style="color:red"></i>
                  {% endif %}
                {% endif %}

               </td>

                  {# colonne action #}
                {% set verif = false %}
               <td class="text-center">  
                {% if hasLavage %}
                    {% for activation in hasLavage %}
                      {% if activation.lavage.id == lavage.id %}
                         <a class="btn btn-block btn-outline-danger" href="{{ path('lavage_desactiver', { 'id': lavage.id }) }}">
                            <span class="glyphicon glyphicon-remove"></span>&nbsp;Désactiver
                        </a>
                        {% set verif = true %}
                      {% endif %}
                  {% endfor %}
                  {% if verif == false %}
                     <a class="btn btn-block btn-outline-success" href="{{ path('lavage_activer', { 'id': lavage.id }) }}">
                            <span class="glyphicon glyphicon-ok"></span>&nbsp;Activer
                        </a>
                  {% endif %}
                {% else %}
                  {% if verif == false %}
                     <a class="btn btn-block btn-outline-success" href="{{ path('lavage_activer', { 'id': lavage.id }) }}">
                            <span class="glyphicon glyphicon-ok"></span>&nbsp;Activer
                        </a>
                  {% endif %}
                {% endif %}
           {#   
               {% if render(controller(
    'SiteBundle:Lavage:findOneUserHasLavage', { 'id': lavage.id }
))==0 %}                
                   <a class="btn btn-block btn-outline-success" href="{{ path('lavage_activer', { 'id': lavage.id }) }}">
                            <span class="glyphicon glyphicon-ok"></span>&nbsp;Activer
                        </a>
                      {% else %}   
                  <a class="btn btn-block btn-outline-danger" href="{{ path('lavage_desactiver', { 'id': lavage.id }) }}">
                            <span class="glyphicon glyphicon-remove"></span>&nbsp;Désactiver
                        </a>
                {% endif %} #}

               </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   </div>
   </div>
   </div>
    </div>
{% endblock %}
