{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
{{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
{%- endautoescape -%}
{% endblock %}


{% block body_html %}

 <div style="background-color:#F0F0F0;">

<div style="background-color:white;text-align:center;margin-left:150px;margin-right:150px;">
     {% block body_text %}
<h1 style="background-color:white;color:white;text-align:center"><img class="navbar-brand-logo navbar-brand-logo-normal" src=http://twip.localbeta.ovh{{ asset('back/assets/images/Picture1.png')  }} ></img></h1>

<img style="hight:40%" src="http://twip.localbeta.ovh/back/assets/images/Picture1.png"></img>
{% autoescape false %}
<h1 style="background-color:white;color:black;text-align:center">Bonjour !</h1>

<h3 style="color:gray">{{ 'resetting.email.message'|trans() }}</h3>
<a style="color: white;" href="{{ confirmationUrl }}">
<button  style="display: inline-block;
  border-radius: 4px;
  background-color: #DF0733;
  border: none;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;">Réinitialiser Mot de Passe</button></a>
{% endautoescape %}

 <h3>Cordialement,
 L'équipe TWIP</h3>
</div>
 </div>
{% endblock %}
{% endblock %}