{% trans_default_domain 'FOSUserBundle' %}
{% extends "log.html.twig" %}


{% block fos_user_content %}

   <h2 class="total-title-2" style="color:#DF0C36;">SE CONNECTER À TWIP</h2>
  
<hr>
<br/>
<div class="container-fluid" style="">

        <div class="row align-items-start ">


        
         <div class="col-lg-8 col-sm-12 order-last" style="background-image: url( {{ asset('back/uploads/images/products/bg_inscri.jpg') }});height:700px ;
                    background-repeat: round;
                    background-size: cover;" >

           
</div>
         <div class="col-lg-4 col-sm-12 order-first" style="border: 2px solid #e6e6e6;background-color: white;height:700px;padding-right: 50px;padding-left: 25px;">    
    <br/>
              <h1><strong>Mot de passe oublié?</strong></h1>


                                                            <div>
                                                       
                                                        {% if app.request.hasPreviousSession %}
                                                            {% for type, messages in app.session.flashbag.all() %}
                                                                {% for message in messages %}
                                                                    <div class="flash-{{ type }}">
                                                                        {{ message }}
                                                                    </div>
                                                                {% endfor %}
                                                            {% endfor %}
                                                        {% endif %}

                                                {% if app.request.hasPreviousSession %}
                                                    {% for type, messages in app.session.flashbag.all() %}
                                                        {% for message in messages %}
                                                            <div class="flash-{{ type }}">
                                                                {{ message }}
                                                            </div>
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endif %}


                                              
                                                        <br/>
                                                        <br/>

             
<br/><br/><br/><br/><br/><br/>
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        
        <input type="text" class="form-control" placeholder="saisir votre email" id="username" name="username" required="required" />
    </div>
    <br/>
    <div>
       <center> <input  class="btn btn-success btn-lg btn-block" type="submit" value="{{ 'resetting.request.submit'|trans }}" /> </center>
    </div>
</form>

                     
                                                    </div>
                                                            

           </div>
{% endblock fos_user_content%}  