{% extends 'layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .info-car span {
            display: block
        }
    </style>
{% endblock %}
{% block container %}
    <div class="container">
        <br/><br/>
        <h2 class="total-title-2" style="color:#DF0C36;">Mes rendez-vous</h2>


        <div class="accordion" id="accordionExample">
            {% for reservation in reservations_new %}
                <div class="card">
                    <div class="card-header" id="heading{{ loop.index }}">


                        <div class="row" data-toggle="collapse"
                             data-target="#collapse{{ loop.index }}"
                             aria-expanded="{% if loop.index == 1 %}true{% else %} false {% endif %}"
                             aria-controls="collapse{{ loop.index }}">
                            <div class="col-9"><i class="icon wb-calendar" aria-hidden="true"
                                                  style="font-size: 15px">&nbsp;</i>{{ reservation.date| date('Y-m-d') }}
                                &nbsp;&nbsp;&nbsp;<i class="icon wb-time" aria-hidden="true" style="font-size: 15px">&nbsp;</i>{{ reservation.time }}
                                - {{ reservation.endTime }}
                            </div>
                            <div class="col-3">
                                {% set prix = reservation.total_price %}
                                {% set time = reservation.total_time %}
                                <span style="width: 100px;  display: inline-block;"><i
                                            style="color:gray" class="icon wb-time"
                                            aria-hidden="true">&nbsp;&nbsp;</i>{% if prix == 0 %}--{% else %}{{ time }} min {% endif %}</span>
                                <span> <i style="color:gray;margin-left: 15px;" class="icon wb-tag"
                                          aria-hidden="true"></i>  {% if prix == 0 %}Sur devis{% else %}{{ prix }} € HT {% endif %} </span>
                            </div>
                        </div>

                    </div>
                    <div id="collapse{{ loop.index }}"
                         class="collapse {% if loop.index == 1 %}show{% else %} hide {% endif %}"
                         aria-labelledby="heading{{ loop.index }}" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                {% for reservation_voiture in reservation.reservationVoitures %}
                                    <div class="col-12"
                                         style="border-bottom: 1px solid #d2d2d2;padding-bottom: 5px;margin-bottom: 20px;">
                                        <div class="row">
                                            <div class="col-3">
                                                {% set voiture = reservation_voiture.voiture %}
                                                <div class="info-car">
                                                    <center>
                                                        <span><img src="/back/uploads/images/products/{{ voiture.imageAsString }}.png"></span>
                                                        <span>{{ voiture.modele }}</span>
                                                        <span><b>{{ voiture.immatricule }}</b></span>
                                                    </center>
                                                </div>

                                            </div>
                                            <div class="col-9">

                                                {% for service_voiture in reservation_voiture.reservationVoituresServices %}
                                                    <div class="row">
                                                        {% set lavage = service_voiture.lavage %}
                                                        <div class="col-8" style="margin-top: 10px">
                                                            - {{ lavage.name }}</div>
                                                        <div class="col-4">
                                                            {% set prix = lavage.priceAndTimeByType(voiture.type)["price"] %}
                                                            {% set time = lavage.priceAndTimeByType(voiture.type)["time"] %}
                                                            <span style="width: 100px;  display: inline-block;"><i
                                                                        style="color:gray" class="icon wb-time"
                                                                        aria-hidden="true">&nbsp;&nbsp;</i>{% if prix == 0 %}--{% else %}{{ time }} min {% endif %}</span>
                                                            <span> <i style="color:gray;margin-left: 15px;"
                                                                      class="icon wb-tag"
                                                                      aria-hidden="true"></i>  {% if prix == 0 %}Sur devis{% else %}{{ prix }} € HT {% endif %} </span>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <hr style="
    border: 0;
    height: 0;
    border-top: 1px solid #666;
   ">
        <br/><br/>
        <h2 class="total-title-2" style="color:#DF0C36;">Historique</h2>
        <div class="accordion" id="accordionExampleHistorique">
            {% for reservation in reservations_past %}
                <div class="card">
                    <div class="card-header" id="historique_heading{{ loop.index }}">


                        <div class="row" data-toggle="collapse"
                             data-target="#historique_collapse{{ loop.index }}"
                             aria-expanded="{% if loop.index == 1 %}true{% else %} false {% endif %}"
                             aria-controls="historique_collapse{{ loop.index }}">
                            <div class="col-9"><i class="icon wb-calendar" aria-hidden="true"
                                                  style="font-size: 15px">&nbsp;</i>{{ reservation.date| date('Y-m-d') }}
                                &nbsp;&nbsp;&nbsp;<i class="icon wb-time" aria-hidden="true" style="font-size: 15px">&nbsp;</i>{{ reservation.time }}
                                - {{ reservation.endTime }}
                            </div>
                            <div class="col-3">
                                {% set prix = reservation.total_price %}
                                {% set time = reservation.total_time %}
                                <span style="width: 100px;  display: inline-block;"><i
                                            style="color:gray" class="icon wb-time"
                                            aria-hidden="true">&nbsp;&nbsp;</i>{% if prix == 0 %}--{% else %}{{ time }} min {% endif %}</span>
                                <span> <i style="color:gray;margin-left: 15px;" class="icon wb-tag"
                                          aria-hidden="true"></i>  {% if prix == 0 %}Sur devis{% else %}{{ prix }} € HT {% endif %} </span>
                            </div>
                        </div>

                    </div>
                    <div id="historique_collapse{{ loop.index }}"
                         class="collapse {% if loop.index == 1 %}show{% else %} hide {% endif %}"
                         aria-labelledby="historique_heading{{ loop.index }}" data-parent="#accordionExampleHistorique">
                        <div class="card-body">
                            <div class="row">
                                {% for reservation_voiture in reservation.reservationVoitures %}
                                    <div class="col-12"
                                         style="border-bottom: 1px solid #d2d2d2;padding-bottom: 5px;margin-bottom: 20px;">
                                        <div class="row">
                                            <div class="col-3">
                                                {% set voiture = reservation_voiture.voiture %}
                                                <div class="info-car">
                                                    <center>
                                                        <span><img src="/back/uploads/images/products/{{ voiture.imageAsString }}.png"></span>
                                                        <span>{{ voiture.modele }}</span>
                                                        <span><b>{{ voiture.immatricule }}</b></span>
                                                    </center>
                                                </div>

                                            </div>
                                            <div class="col-9">

                                                {% for service_voiture in reservation_voiture.reservationVoituresServices %}
                                                    <div class="row">
                                                        {% set lavage = service_voiture.lavage %}
                                                        <div class="col-8" style="margin-top: 10px">
                                                            - {{ lavage.name }}</div>
                                                        <div class="col-4">
                                                            {% set prix = lavage.priceAndTimeByType(voiture.type)["price"] %}
                                                            {% set time = lavage.priceAndTimeByType(voiture.type)["time"] %}
                                                            <span style="width: 100px;  display: inline-block;"><i
                                                                        style="color:gray" class="icon wb-time"
                                                                        aria-hidden="true">&nbsp;&nbsp;</i>{% if prix == 0 %}--{% else %}{{ time }} min {% endif %}</span>
                                                            <span> <i style="color:gray;margin-left: 15px;"
                                                                      class="icon wb-tag"
                                                                      aria-hidden="true"></i>  {% if prix == 0 %}Sur devis{% else %}{{ prix }} € HT {% endif %} </span>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>




{% endblock %}






{% block javascripts %}

    {{ parent() }}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <script src="/front/js/menu.js"></script>
{% endblock %}
