{% extends 'layout.html.twig' %}
{% block container %}
<script>
      function myModal(description) {
        $.confirm({
                    columnClass: 'medium',
                    icon: "fa fa-info",
                    title: "Description",
                    content: description,
                    type: "blue",
                    typeAnimated: true,
                    theme: 'material',
                    buttons: {
                        close: {
                            text: "Fermer",
                            btnClass: 'btn-blue',
                            /* action: function () {
                                submit_rdv()
                            } */
                        }
                    }
                });
        
      }
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>
<script type="text/javascript" src="https://media.payrexx.com/modal/v1/modal.min.js"></script>


    <div class="container">
        <br/><br/>
        <h2 class="total-title-2" style="color:#DF0C36;">PRENDRE RENDEZ-VOUS</h2>

        <hr style="
    border: 0;
    height: 0;
    border-top: 1px solid #666;
   ">
        <form class="contact100-form" action="{{ path('front_reservation_create') }}">
            <input type="hidden" name="date">
            <input type="hidden" name="total_price">
            <input type="hidden" name="total_time" value="0">
            <div class="panel-body" style="border: 1px solid #e6e6e6;padding:60px">

                <style>
                    .cursor-pointer{
                        cursor: pointer;
                    }
                    .num_step {
                        font-size: 28px;
                        font-weight: bold;
                    }

                    .btn-circle.btn-xl {
                        background-color: #DF0C36;
                        color: white;
                        width: 80px;
                        height: 80px;
                        padding: 5px 8px;
                        border-radius: 50px;
                        font-size: 18px;
                        line-height: 1.33;
                    }

                    .btn-circle {
                        width: 30px;
                        height: 30px;
                        padding: 6px 0px;
                        border-radius: 15px;
                        text-align: center;
                        font-size: 12px;
                        line-height: 1.42857;
                    }

                    input[name=form[type]

                    ]
                    {
                        display: none
                    ;
                        color: #e6e6e6
                    ;
                    }

                    :checked + div.myimg {
                        background-color: #DF0C36;
                        color: #e6e6e6;

                    }

                    div.myimg2 {
                        background-color: white;
                        color: #DF0C36;
                        border-width: 2px 2px;
                        border-radius: 50px;
                        border-color: #DF0C36;
                        padding: 5px;
                        padding-right: 35px;
                        padding-left: 35px;

                    }

                    div.time_available {
                        color: #6e6e6e;
                        border: 1px solid #6e6e6e;
                    }

                    :checked + div.myimg2, :hover + div.myimg2 {
                        background-color: #DF0C36;
                        color: white;
                        border-radius: 50px;
                        padding: 5px;
                        padding-right: 35px;
                        padding-left: 35px;

                    }

                    :checked div.time_available {
                        color: white;
                        border: 1px solid #DF0C36;
                    }

                    :checked + div.myimg2:after {
                        content: "";
                        font-family: "Web Icons";
                        margin-left: 11px;
                    }

                    :checked + div.myimg2 {
                        padding-right: 20px;
                        padding-left: 25px;
                    }

                    .myimg:hover img {
                        filter: brightness(0) invert(1);
                    }

                    :checked + div.myimg img {
                        filter: brightness(0) invert(1);
                    }

                    .myimg:hover {
                        background-color: #DF0C36 !important;
                        color: #e6e6e6;

                    }

                    .card-header .btn-link {
                        color: #6e6e6e !important;
                        font-size: 16px;
                    }

                    .xdsoft_calendar table {
                        height: 375px
                    }

                    .xdsoft_datepicker.active {
                        width: 600px
                    }

                    .flatpickr-day.selected, .flatpickr-day.selected:hover {
                        background: #DF0C36;
                        border-color: #DF0C36;
                    }

                    .jconfirm-box-container {
                        font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
                        font-size: 16px;
                    }

                    .jconfirm-title {
                        font-size: 18px !important;
                    }

                </style>

                <br/>

                <div class="row justify-content-start">
                    <div class="col-1">
                        <button type="button" class="btn  btn-circle btn-xl"><span class="num_step">1</span>/4
                        </button>
                    </div>
                    <div class="col-10">
                        <h2 class="menu-mega-link hover-help"
                            style="margin-top: 10px;text-transform: capitalize!important;font-weight:bold!important;width:250px;font-size:20px;font-family: HelveticaNeueW02-77BdCn 694066, bold, sans-serif;">

                            <strong>Véhicule</strong>
                        </h2>
                        <br>
                        <span style="color:gray">Sélectionner vos véhicules</span>
                        <br/>
                        <br/>

                        {% for vehicule in vehicules %}
                            <div class="col-lg-2 col-sm-12" style="font-size: 14px;">
                                <center>
                                    <label style="border: 1px solid #e6e6e6; ">

                                        <input type="checkbox" name="voiture_id[]" class="checkbox_voiture_id"
                                               style="display:none!important;" value="{{ vehicule.id }}"
                                               data-carname="{{ vehicule.modele ~ " | " ~ vehicule.immatricule }}"
                                               data-type="{{ vehicule.type }}"/>
                                        <div class="myimg" style="padding: 5px;font-weight: normal">
                                            <center><img
                                                        src="{{ asset('back/uploads/images/products/'~ vehicule.getImageAsString ~ '.png') }}"
                                                        style="width: 90px;padding:20px"></center>
                                            {{ vehicule.typeAsString }}
                                        </div>
                                    </label>
                                    <br/>
                                    <span>{{ vehicule.modele }}</span> <br>
                                    <strong style="font-size: 18px">{{ vehicule.immatricule }}</strong>
                                </center>
                            </div>
                        {% endfor %}


                    </div>
                </div>

                <br/>
                <br/>
                <div class="row justify-content-start">
                    <div class="col-1">
                        <button type="button" class="btn  btn-circle btn-xl"><span class="num_step">2</span>/4
                        </button>
                    </div>
                    <div class="col-10">
                        <h3 class="menu-mega-link hover-help"
                            style="margin-top:10px;text-transform: capitalize!important;font-weight:bold!important;width:250px;font-size:20px;font-family: HelveticaNeueW02-77BdCn 694066, bold, sans-serif;">

                            <strong>Option de lavage</strong>
                        </h3>
                        <br>
                        <span style="color:gray">Ajouter des services à votre forfait</span>
                        <br/>
                        <br/>
                        <br/>
                        <!-- ######################################### --->
                        <div class="accordion" id="accordionExample" style="width: 120%;margin-left: -80px;">

                        </div>
                    </div>
                </div>
                <br/>

                <div class="row justify-content-start">
                    <div class="col-1">
                        <button type="button" class="btn  btn-circle btn-xl"><span class="num_step">3</span>/4
                        </button>
                    </div>
                    <div class="col-10">
                        <h3 class="menu-mega-link hover-help"
                            style="margin-top:10px;text-transform: capitalize!important;font-weight:bold!important;width:250px;font-size: 20px;font-family: HelveticaNeueW02-77BdCn 694066, bold, sans-serif;">

                            <strong>Date et Heure</strong>
                        </h3>
                        <br>
                        <span style="color:gray">Cliquer sur n'importe quel moment pour faire une réservation</span>
                        <br/>
                        <br/>

                        <div class="col-md-5">
                            <div id="calander"></div>
                        </div>
                        <div id="time" class="col-md-7"></div>
                        <div id="loader" style="display: none" class="col-md-3">
                            <div class="spinner-grow text-danger" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row justify-content-start">
                    <div class="col-1">
                        <button type="button" class="btn  btn-circle btn-xl"><span class="num_step">4</span>/4
                        </button>
                    </div>
                    <div class="col-10">
                        <h3 class="menu-mega-link hover-help"
                            style="margin-top:10px;text-transform: capitalize!important;font-weight:bold!important;width:450px;font-size:20px;font-family: HelveticaNeueW02-77BdCn 694066, bold, sans-serif;">


                            <strong>Résumé de la réservation</strong>
                        </h3>
                        <br/>
                        <br/>
                        <div class="col-md-5 ml-auto"
                             style="border: 1px solid #e6e6e6;margin-right:15px;margin-bottom:15px;padding:10px">
                            <div class="container1">
                                <div class="row justify-content-end">
                                    <div class="col-3">
                                        <img src="{{ asset('back/uploads/images/products/ic_resume_date.png') }}"
                                             style="width:50px">
                                    </div>
                                    <div class="col-9">
                <span style="color:#DF0C36;font-size:20px!important;text-transform: capitalize;"> <strong
                            style="text-align:right!important;" id="resume_date"> 0 </strong>
                <br/> <span style="color:gray;font-size:17px;text-align:right!important;">Votre date de rendez-vous</span>
                </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-5 ml-auto"
                             style="border: 1px solid #e6e6e6;padding:10px;margin-right:15px;margin-bottom:15px">
                            <div class="container1">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="{{ asset('back/uploads/images/products/ic_resume_time.png') }}"
                                             style="width: 50px">
                                    </div>
                                    <div class="col-9">
                                        <span> <strong style="color:#DF0C36;" id="resume_time"> --:-- </strong>
                                        <br/> <span style="color:gray">Votre heure de rendez-vous</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="col-md-5 ml-auto" style="border: 1px solid #e6e6e6;padding:10px;margin-right:15px;">
                            <div class="container1">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="{{ asset('back/uploads/images/products/ic_resume_temps.png') }}"
                                             style="width: 50px">
                                    </div>
                                    <div class="col-9">
                <span> <strong style="color:#DF0C36;" id="duree"> 0h 00min</strong>
                <br/> <span style="color:gray">Durée</span>
                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 ml-auto" style="border: 1px solid #e6e6e6;padding:10px;margin-right:15px;">
                            <div class="container1">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="{{ asset('back/uploads/images/products/ic_resume_prix.png') }}"
                                             style="width: 50px">
                                    </div>
                                    <div class="col-9">
                                            <span style="font-family: sans-serif;">
                                                <span style="color: #DF0C36;font-weight: bold;font-size: 14px;">
                                                    <span id="ht_price" style="font-size: 24px;">0</span>€ HT
                                                </span>
                                                /<span style="font-size: 12px">
                                                    <span id="ttc_price" style="font-size: 20px;">0</span>€ TTC
                                                </span>
                                                     <br/>

                                            </span>
                                        <span style="color:gray">Prix Total</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

                <section>
                    <br/><br/>
                    <span style="color:#DF0C36;">Avez-vous un code de coupon de rédaction?</span> &nbsp;&nbsp;&nbsp;
                    <input name="coupon">
                    <br/>
                    <br/>
                </section>
                <span>we will confirm your appoitment with you by phone or e-mail within 24 hours of receiving your request</span>
            </div>

            <br/>
            <div class="text-right">

                <button type="submit" style="display: inline-block;

            background-color: #DF0733;
            border: none;
            color: white;
            text-align: center;
            font-size: 16px;
            padding: 10px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;" id="btn_submit"><i class="icon wb-play" aria-hidden="true"></i>&nbsp;&nbsp;Enregistrer
                </button>
                <button type="button" id="btn_submit_loader" style="display: none;

            background-color: #DF0733;
            border: none;
            color: white;
            text-align: center;
            font-size: 16px;
            padding: 10px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;">
                    <div class="spinner-border text-light" role="status" style="width: 19px;height: 19px;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </div>
        </form>


    </div>

    <!-- header bloc time checkbox -->
    <label class="myimg2" id="model-time"
           style="    margin: 5px; color:#6e6e6e; border-width: 1px 1px;border-radius: 50px;width: 120px; display: none;">
        <input name="time" type="radio" style="display:none!important;" class="stylebutton time_radio" value="">
        <div class="myimg2 time_available">--:--</div>
    </label>
    <!-- end header bloc time checkbox -->

    <!-- header bloc of list wash service model -->
    <div class="card" id="car-service-container"></div>
    <div class="card-header" id="car">

            <div class=" car_name_select"  aria-expanded="false" data-toggle="collapse" data-target="#car_"
                    aria-controls="">
            </div>

    </div>
    <!-- end header bloc of list wash service model -->

    <!-- bloc of wash service model -->
    <div id="car_" class="collapse" data-parent="#accordionExample">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover ">

                    <tbody>
                    {% for lavage in lavages %}
                        <tr
                                data-price0="{{ lavage.miniPrix }}" data-time0="{{ lavage.miniTemps }}"
                                data-price1="{{ lavage.citadinePrix }}" data-time1="{{ lavage.citadineTemps }}"
                                data-price2="{{ lavage.monoPrix }}" data-time2="{{ lavage.monoTemps }}"
                                data-price3="{{ lavage.camionPrix }}" data-time3="{{ lavage.camionTemps }}"
                                data-price4="{{ lavage.motoPrix }}" data-time4="{{ lavage.motoTemps }}"
                        >

                            <td>{{ lavage.name }} 
                            {% if lavage.description %}
                            <a class="text-danger font-weight-bold cursor-pointer" id="{{lavage.description}}" onclick="myModal(this.id)">more...</a>
                          

                            {% endif %}

                           
                            </td>

                            <td>

                                <i style="color:gray" class="icon wb-time"
                                   aria-hidden="true">&nbsp;&nbsp;</i><span class="time-text"></span>
                                <span>&nbsp; min</span>
                            </td>

                            <td>


                                <i style="color:gray" class="icon wb-tag"
                                   aria-hidden="true">&nbsp;&nbsp;</i> <span class="price-text"></span>
                                <span>&nbsp; € HT</span>

                            </td>


                            <td>
                                <label class="myimg2"
                                       style="border: 1px solid #DF0C36; border-width: 1px 1px;border-radius: 50px;width: 120px">
                                    <input id="lavage_id" name="lavage_id[]" type="checkbox"
                                           style="display:none!important;" class="stylebutton lavage_id"
                                           data-time="{{ lavage.miniTemps }}" data-price="{{ lavage.miniPrix }}"
                                           value={{ lavage.id }}>
                                    <div class="myimg2">Select
                                    </div>
                                </label>
                                </input>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>
    <!-- end bloc of wash service model -->




{% endblock %}






{% block javascripts %}

    {{ parent() }}
    <script>

        $(".image-checkbox").each(function () {
            if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
                $(this).addClass('image-checkbox-checked');
            } else {
                $(this).removeClass('image-checkbox-checked');
            }
        });

        // sync the state to the input
        $(".image-checkbox").on("click", function (e) {
            $(this).toggleClass('image-checkbox-checked');
            var $checkbox = $(this).find('input[type="checkbox"]');
            $checkbox.prop("checked", !$checkbox.prop("checked"))

            e.preventDefault();
        });


        $(document).ready(function () {

//submit form
            btn_submit = $("#btn_submit");
            btn_loader = $("#btn_submit_loader");
            error_code = [];
            error_code[0] = "Veuillez choisir au moins une voiture";
            error_code[1] = "Veuillez choisir au moins un service de lavage";
            error_code[2] = "Veuillez choisir la date et l'heure de votre rdv";
            error_code[3] = "Veuillez choisir la date et l'heure de votre rdv";
            error_code[4] = "Le coupon que vous avez mentionné n'est pas valide";
            error_code[-1] = "Un problème est survenu lors de l'enregistrement de votre rendez-vous. Veuillez réessayer une autre fois";
            error_code[-2] = "Un problème est survenu lors de l'enregistrement de votre rendez-vous. Veuillez réessayer une autre fois";
            error_code[-3] = "Un problème est survenu lors de l'enregistrement de votre rendez-vous. Veuillez réessayer une autre fois";
            $("form").submit(function () {

                if ($("input[name='coupon']").val() == "") {
                    reminderCoupon();
                } else {
                    reminderPei();
                }

                return false;

            })


            function reminderCoupon() {
                $.confirm({
                    columnClass: 'medium',
                    icon: "fa fa-percent",
                    title: "Vous n'avez pas saisi un coupon de réduction",
                    content: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s",
                    type: "orange",
                    typeAnimated: true,
                    theme: 'material',
                    buttons: {
                        close: {
                            text: "Saisir un coupon"
                        },
                        continue: {
                            text: 'Continuer',
                            btnClass: 'btn-orange',
                            action: function () {
                                reminderPei()
                            }
                        },
                    }
                });
            }

            function reminderPei() {
                $.confirm({
                    columnClass: 'medium',
                    icon: "fa fa-credit-card",
                    title: "CARTE PEI",
                    content: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s",
                    type: "orange",
                    typeAnimated: true,
                    theme: 'material',
                    buttons: {
                        close: {
                            text: "Confirmer RDV",
                            btnClass: 'btn-orange',
                            action: function () {
                                submit_rdv()
                            }
                        }
                    }
                });
            }

            function submit_rdv() {
                btn_submit.hide();
                btn_loader.show();
                $.post("{{ path("front_reservation_create") }}", $('form').serialize(), function (data) {
                    btn_submit.show();
                    btn_loader.hide();
                    console.log(data);
                    if (data.hasOwnProperty("message")) {
                        if (data.message == "error") {
                            message = "";
                            for (error in data.codes) {
                                message = message + "- " + error_code[data.codes[error]] + "<br>";
                            }
                            message = "<div class=\"alert alert-danger\" role=\"alert\">" + message + "</div>";
                            Alert('Veuillez vérifier vos données', message, "red", "fa fa-exclamation-circle", true);

                        } else {
                            Alert('Félicitation!', 'Votre rendez-vous sera confirmé par email ou téléphone dans les plus bref délais', "green", "fa fa-smile-o", false);
                        }
                    } else {
                        message = "<div class=\"alert alert-danger\" role=\"alert\">Un problème est survenu lors de l'enregistrement de votre rendez-vous. Veuillez réessayer une autre fois</div>";
                        Alert('Erreur Serveur', message, "red", "fa fa-exclamation-circle", true);
                    }
                }).fail(function () {
                    message = "<div class=\"alert alert-danger\" role=\"alert\">Un problème est survenu lors de l'enregistrement de votre rendez-vous. Veuillez réessayer une autre fois</div>";
                    Alert('Erreur Serveur', message, "red", "fa fa-exclamation-circle", true);
                    btn_submit.show();
                    btn_loader.hide();
                })
            }

            function   Alert(title, message, type, icon, is_error = true) {
                $.confirm({
                    columnClass: 'medium',
                    icon: icon,
                    title: title,
                    content: message,
                    type: type,
                    typeAnimated: true,
                    theme: 'material',
                    buttons: {
                        close: {
                            text: "OK",
                            action: function () {
                                //if there is no probleme redirect to mes rdv
                                if (!is_error)
                                    window.location.replace("{{ path("front_reservation_index") }}");

                            }
                        }
                    }
                });
            }

            //init available date of opoimpent
            {% set allowed_days = "[" %}
            {% for day in enable_days %} {% set allowed_days = allowed_days ~ day ~ "," %}{% endfor %}
            {% set allowed_days = allowed_days ~ "]" %}

            allowed_days = {{ allowed_days }};
            $("#calander").flatpickr({
                minDate: "today",
                inline: true,
                "enable": [
                    function (date) {
                        // return true to disable
                        return ({{ allowed_days }}.includes(date.getDay())
                    )
                        ;

                    }
                ],
                "locale": {
                    "firstDayOfWeek": 1 // start week on Monday
                },
                //on click date on specific date get list of available time from data base
                onChange: function (selectedDates, dateStr, instance) {


                    var options = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'};
                    var today = new Date(dateStr);
                    $("input[name='date']").val(dateStr);

                    $("#resume_date").html(today.toLocaleDateString("fr-FR", options)); // Saturday, September 17, 2016
                    $("#loader").show();
                    $("#time").hide();
                    $.ajax({
                        url: "{{ path("getAvailableTimeByDate") }}?date=" + dateStr+"&total_time="+$("input[name='total_time']").val(),
                        context: document.body
                    }).done(function (data) {
                        $("#time").html("");
                        $("#loader").hide();
                        jQuery.each(data, function (index, value) {
                            div_time = $("#model-time").clone().show();
                            div_time.find(".time_available").html(data[index]);
                            div_time.find("input").val(value);
                            div_time.appendTo("#time");



                        })
                        console.log(data);
                        if(Object.keys(data).length<28){//some times are not available
                            $("#time").append("<br><span style='color:#DF0C36;font-size: 16px'>* Si votre heure approprié n'est pas disponible, essayez de décocher un véhicule ou d'annuler un service.</span>")
                        }
                        $(".time_radio").change(function () {
                            $("#resume_time").html($('input[name=time]:checked').val());

                        });
                        $("#time").show();
                    });
                },
            });


        })


        //on click on car generate list of service of car
        $(".checkbox_voiture_id").change(function () {
            if (this.checked) {
                id = $(this).val();
                type = $(this).data("type");

                car_name = $(this).data("carname");
                var header = $("#car").clone().show().attr("id", "car" + id);
                var content = $("#car_").clone().attr("id", "car_" + id).attr("aria-labelledby", "car" + id);

                header.find(".car_name_select").attr("data-target", "#car_" + id).attr("aria-controls", "   car_" + id).html(car_name);
                content.find(".lavage_id").each(function (index) {
                    //get the right value of price and time by type of vehicule
                    tr = $(this).parents().eq(2);//to get the <tr> parent that contain the time value by type and price
                    price = tr.data("price" + type);
                    time = tr.data("time" + type);
                    $(this).data("time", time);
                    $(this).data("price", price);

                    if (price == 0) {
                        tr.find(".time-text").parent().html("--");
                        tr.find(".price-text").parent().html("Sur devis");
                    } else {
                        tr.find(".time-text").html(time);
                        tr.find(".price-text").html(price);
                    }

                    $(this).val(id + ";" + $(this).val());
                    $(this).change(function () {
                        console.log("unchecked");
                        calculeTimePrice();
                    });
                });

                container = $("#car-service-container").clone().removeAttr("id");


                header.appendTo(container);
                content.appendTo(container);
                container.appendTo("#accordionExample");

            } else {
                id = $(this).val();
                $("#car_" + id).find("input").removeAttr('checked');
                calculeTimePrice();
                $("#car" + id).remove();
                $("#car_" + id).remove();
            }
        });




        function calculeTimePrice() {

             total_time = 0;
             total_price = 0;
             nb_witout_price = 0;

            $("input[name='lavage_id[]'").each(function (index) {

                checkbox = $(this);
                if (checkbox.data("time") == "") new_time = 0; else new_time = checkbox.data("time");
                if (checkbox.data("price") == "") new_price = 0; else new_price = checkbox.data("price");

                //si le service de lavage est coché
                if (checkbox.is(':checked')) {
                    total_price = total_price + new_price;
                    total_time = total_time + new_time;
                    //numbre of service sur devis
                    if (new_price == 0) nb_witout_price++;
                }


            });

            $("input[name='total_time']").val(total_time);
            $("input[name='total_price']").val(total_price);

            var hours = (total_time / 60);
            var rhours = Math.floor(hours);
            var minutes = (hours - rhours) * 60;
            var rminutes = Math.round(minutes);


            price_ttc = total_price + (total_price * 20) / 100;

            $("#ht_price").html(total_price);
            $("#duree").html(rhours + "h " + rminutes + "min");
            $("#ttc_price").html(price_ttc);
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <script src="/front/js/menu.js"></script>
{% endblock %}
