{% extends 'layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <style>
        label {
            font-weight: normal;
        }

        .myimg:hover {
            background-color: #DF0C36 !important;
            color: #e6e6e6;

        }

        .myimg:hover img {
            filter: brightness(0) invert(1);
        }

        :checked + div.myimg img {
            filter: brightness(0) invert(1);
        }

        .myimg img {
            width: 140px;
            padding: 30px 30px 10px 30px;
        }

        .myimg {
            padding-bottom: 30px
        }
        input[type="radio"] + label::before {
            width: 0px;margin: 0px;
        }
    </style>
{% endblock %}
{% block container %}
    <div class="container">
        <br/><br/>
        <h2 class="total-title-2" style="color:#DF0C36;">Mon Profile</h2>

        <hr style="    border: 0;
    height: 0;
    border-top: 1px solid #666;
   ">
        <form class="contact100-form" action="{{ path('ajout_formulaire') }}">
            <div class="panel-body" style="border: 1px solid #e6e6e6;padding:60px">

                <h3 class="menu-mega-link hover-help"
                    style="z-index: 0;text-transform: capitalize!important;font-weight:bold!important;width:170px;font-size: 2rem;font-family:HelveticaNeueW02-77BdCn,bold,sans-serif;">
                    <strong>Bonjour</strong>
                </h3>

                <br/>


                <div class="row">


                    <br/>

                    <div class="col-lg-4 col-sm-12">
                        <label> Nom & Prénom</label>
                        <input type="text" name="nom" placeholder="" id="nom" required value="{{ app.user.nom }}">
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <label> Téléphone</label>
                        <input type="number" name="telephone" placeholder="" id="telephone" required
                               value="{{ app.user.telephone }}">
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <label> Adresse Lavage</label>
                        <div class="form-group">

                            <select class="form-control" id="sel1" name="adresse">
                                <option>Choisir une adresse</option>
                                {% for adresse in adresses %}
                                    <option value="{{ adresse.id }}" {% if app.user.adresse_id == adresse.id %} selected {% endif %}>{{ adresse.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>


                <br/>

                <input type="checkbox" name="sms" id="sms" {% if app.user.receiveSms %} checked {% endif %} />
                <label for="sms">Je souhaite recevoir des notifications de la part de Twip</label> <br>
                <br/>


                <div class="panel-body panel-cars" style="border: 1px solid #e6e6e6;padding:30px">
                    {% for vehicule in app.user.vehicules %}
                        <input type="hidden" name="ids[{{ loop.index }}]" value="{{ vehicule.id }}">
                        {% if loop.index > 1 %}
                            <hr style="border: 1px solid #e6e6e6;">{% endif %}
                        <div class="wrap-input100 validate-input car-input ">

                            <div class="panel-heading">
                                <h3 class="panel-title"><strong class="menu-mega-link hover-help"
                                                                style="text-transform: capitalize!important;font-weight:bold!important;width:170px;font-size:20px;font-family:HelveticaNeueW02-77BdCn,bold,ans-serif;">véhicule
                                        N° {{ loop.index }}
                                        <script> nb_car; </script>
                                    </strong>
                                    <br/>
                                    <br/>
                                </h3>
                            </div>


                            <div class="panel-body" style="padding-left:60px;padding-right:60px;">

                                &nbsp;&nbsp;&nbsp;&nbsp;

                                <input type="radio"
                                       name="categorie[{{ loop.index }}]"
                                       required
                                       id="veh_soc[{{ loop.index }}]" value="0"
                                       style="margin-right:30px;margin-left:-20px;    margin-top: 0px;" {% if vehicule.categorie == 0 %} checked {% endif %}>
                                <label for="veh_soc[{{ loop.index }}]">Véhicule de société</label>

                                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;

                                <input type="radio"
                                       name="categorie[{{ loop.index }}]"
                                       id="veh_perso[{{ loop.index }}]"
                                       value="1"
                                       style="margin-left:-20px; margin-top: 0px;" {% if vehicule.categorie == 1 %} checked {% endif %}>
                                <label for="veh_perso[{{ loop.index }}]"> Véhicule personnel </label>

                                <br/>

                                <div class="row justify-content-between">
                                    <div class="col-lg-6 col-sm-12">

                                        <br/>
                                        <label>Modéle</label>
                                        <input type="text" name="modele[{{ loop.index }}]" placeholder="" id="modele"
                                               required value="{{ vehicule.modele }}">
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <br/>
                                        <label>Immatriculation</label>
                                        <input type="text" name="immatricule[{{ loop.index }}]" placeholder=""
                                               id="immatricule"
                                               required value="{{ vehicule.immatricule }}">
                                    </div>


                                </div>
                                <br/>
                                <style>

                                    :checked + div.myimg {
                                        background-color: #DF0C36;
                                        color: #e6e6e6;
                                        content: "Minie";
                                    }
                                </style>

                                <div class="row justify-content-between">


                                    <div class="col-lg-2 col-sm-12">
                                        <center>
                                            <label style="border: 1px solid #e6e6e6;display: inline-table"
                                                   class="bloc_car_type">

                                                <input type="radio" id="type" name="type[{{ loop.index }}]"
                                                       style="display:none!important;"
                                                       value="0" {% if vehicule.type == 0 %} checked {% endif %}
                                                       required>
                                                <div class="myimg">
                                                    <img src="{{ asset("back/uploads/images/products/ic_v_mini.png") }}"
                                                    >
                                                    Mini
                                                </div>
                                                </input>
                                            </label>
                                        </center>
                                    </div>
                                    <div class="col-lg-2 col-sm-12">
                                        <center>
                                            <label style="border: 1px solid #e6e6e6;display: inline-table;"
                                                   class="bloc_car_type">

                                                <input type="radio" name="type[{{ loop.index }}]"
                                                       style="display:none!important;"
                                                       value="1" {% if vehicule.type == 1 %} checked {% endif %}
                                                       required="required"/>
                                                <div class="myimg">
                                                    <img src="{{ asset("back/uploads/images/products/ic_v_citadine.png") }}"
                                                    >
                                                    Citadine
                                                </div>
                                                </input>
                                            </label>
                                        </center>

                                    </div>
                                    <div class="col-lg-2 col-sm-12" name="checkbox1">
                                        <center>
                                            <label style="border: 1px solid #e6e6e6;display: inline-table"
                                                   class="bloc_car_type">

                                                <input type="radio" name="type[{{ loop.index }}]"
                                                       style="display:none!important;"
                                                       value="2" {% if vehicule.type == 2 %} checked {% endif %}
                                                       required="required"/>
                                                <div class="myimg">
                                                    <img src="{{ asset("back/uploads/images/products/ic_v_mono.png") }}"
                                                    >
                                                    Monospace/SUV
                                                </div>
                                                </input>
                                            </label>
                                        </center>
                                    </div>
                                    <div class="col-lg-2 col-sm-12">
                                        <center>
                                            <label style="border: 1px solid #e6e6e6;display: inline-table"
                                                   class="bloc_car_type">

                                                <input type="radio" name="type[{{ loop.index }}]"
                                                       style="display:none!important;"
                                                       value="3" {% if vehicule.type == 3 %} checked {% endif %}
                                                       required/>
                                                <div class="myimg">
                                                    <img src="{{ asset("back/uploads/images/products/ic_v_camion.png") }}"
                                                    >
                                                    Camionette
                                                </div>
                                            </label>
                                        </center>
                                    </div>
                                    <div class="col-lg-2 col-sm-12">
                                        <center>
                                            <label style="border: 1px solid #e6e6e6;display: inline-table"
                                                   class="bloc_car_type">

                                                <input type="radio" name="type[{{ loop.index }}]"
                                                       style="display:none!important;"
                                                       value="4" {% if vehicule.type == 4 %} checked {% endif %}
                                                       required="required">
                                                <div class="myimg">
                                                    <img src="{{ asset("back/uploads/images/products/ic_v_moto.png") }}"
                                                    >
                                                    Moto
                                                </div>
                                            </label>
                                        </center>
                                    </div>

                                </div>

                            </div>

                        </div>
                    {% endfor %}
                </div>

                <div class="panel-body" style="border: 1px solid #e6e6e6;padding:10px">
                    <div class="text-right">
                        <button type="button" id="add-car" style="display: inline-block;
              background-color: white;
              border: none;
              color: #DF0733;
              text-align: center;
              font-size: 16px;
              padding: 10px;
              width: 200px;
              transition: all 0.5s;
              cursor: pointer;
              margin: 5px;"><i class="icon wb-play" aria-hidden="true"></i>&nbsp;&nbsp;<strong>Ajouter véhicule</strong>
                        </button>
                    </div>
                </div>


                <div class="text-right">
                    <br/>
                    <button type="submit" id="button" style="display: inline-block;
  
            background-color: #DF0733;
            border: none;
            color: white;
            text-align: center;
            font-size: 16px;
            padding: 10px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;"><i class="icon wb-play" aria-hidden="true"></i>&nbsp;&nbsp;Enregistrer
                    </button>
                </div>
            </div>
        </form>
    </div>


    <div class="wrap-input100 validate-input car-input " id="car_model" style="display: none">
        <input type="hidden" name="ids[0]" value="-1" class="car_id">

        <div class="panel-heading">
            <h3 class="panel-title"><strong class="menu-mega-link hover-help"
                                            style="text-transform: capitalize!important;font-weight:bold!important;width:170px;font-size:20px;font-family:HelveticaNeueW02-77BdCn,bold,sans-serif;">véhicule
                    N° <span class="num_car">1</span>
                </strong>
                <br/>
                <br/>
            </h3>
        </div>


        <div class="panel-body" style="padding-left:60px;padding-right:60px;">

            &nbsp;&nbsp;&nbsp;&nbsp;

            <label for="veh_soc" class="label_veh_soc"> <input type="radio" name="categorie[0]" class="veh_soc"
                                                               value="0"
                                                               style="margin-right:30px;margin-left:-20px;margin-top: 0px"
                                                               required>
                Véhicule de
                société</label>
            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            <label for="veh_perso" class="label_veh_perso"> <input type="radio" name="categorie[0]" class="veh_perso"
                                                                   value="1"
                                                                   style="margin-left:-20px;margin-top: 0px"> Véhicule
                personnel
            </label>

            <br/>

            <div class="row justify-content-between">
                <div class="col-lg-6 col-sm-12">

                    <br/>
                    <label>Modéle</label>
                    <input type="text" name="modele[0]" placeholder="" class="modele" required>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <br/>
                    <label>Immatriculation</label>
                    <input type="text" name="immatricule[0]" placeholder="" class="immatricule"
                           required>
                </div>


            </div>
            <br/>
            <style>

                :checked + div.myimg {
                    background-color: #DF0C36;
                    color: #e6e6e6;
                    content: "Minie";
                }
            </style>

            <div class="row justify-content-between">


                <div class="col-lg-2 col-sm-12">
                    <center>
                        <label style="border: 1px solid #e6e6e6;display: inline-table" class="bloc_car_type">

                            <input type="radio" class="type" name="type[0]" value="0" required/>
                            <div class="myimg">
                                <img alt="type véhicule"
                                     src="{{ asset("back/uploads/images/products/ic_v_mini.png") }}">
                                Mini
                            </div>

                        </label>
                    </center>
                </div>
                <div class="col-lg-2 col-sm-12">
                    <center>
                        <label style="border: 1px solid #e6e6e6;display: inline-table" class="bloc_car_type">

                            <input type="radio" class="type" name="type[0]"
                                   style="display:none!important;"
                                   value="1">
                            <div class="myimg">
                                <img src="{{ asset("back/uploads/images/products/ic_v_citadine.png") }}"
                                >
                                Citadine
                            </div>
                            </input>
                        </label>
                    </center>

                </div>
                <div class="col-lg-2 col-sm-12" name="checkbox1">
                    <center>
                        <label style="border: 1px solid #e6e6e6;display: inline-table" class="bloc_car_type">

                            <input type="radio" class="type" name="type[0]"
                                   style="display:none!important;"
                                   value="2">
                            <div class="myimg">
                                <img src="{{ asset("back/uploads/images/products/ic_v_mono.png") }}"
                                >
                                Monospace/SUV
                            </div>
                            </input>
                        </label>
                    </center>
                </div>
                <div class="col-lg-2 col-sm-12">
                    <center>
                        <label style="border: 1px solid #e6e6e6;display: inline-table" class="bloc_car_type">

                            <input type="radio" class="type" name="type[0]"
                                   style="display:none!important;"
                                   value="3">
                            <div class="myimg">
                                <img src="{{ asset("back/uploads/images/products/ic_v_camion.png") }}"
                                >
                                Camionette
                            </div>
                            </input>
                        </label>
                    </center>
                </div>
                <div class="col-lg-2 col-sm-12">
                    <center>
                        <label style="border: 1px solid #e6e6e6;display: inline-table" class="bloc_car_type">

                            <input type="radio" class="type" name="type[0]"
                                   style="display:none!important;"
                                   value="4">
                            <div class="myimg">
                                <img src="{{ asset("back/uploads/images/products/ic_v_moto.png") }}"
                                >
                                Moto
                            </div>
                            </input>
                        </label>
                    </center>
                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        // image gallery
        // init the state from the input
        $(".image-checkbox").each(function () {
            if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
                $(this).addClass('image-checkbox-checked');
            } else {
                $(this).removeClass('image-checkbox-checked');
            }
        });

        // sync the state to the input
        $(".image-checkbox").on("click", function (e) {
            $(this).toggleClass('image-checkbox-checked');
            var $checkbox = $(this).find('input[type="checkbox"]');
            $checkbox.prop("checked", !$checkbox.prop("checked"))

            e.preventDefault();
        });


        var nb_car = {{ app.user.vehicules|length }} +1;
        {% if app.user.vehicules|length == 0 %}
        cloneCarBloc(nb_car);
        nb_car++;
        {% endif %}

        $("#add-car").click(function () {

            if (nb_car <= 11) {

                cloneCarBloc(nb_car)
                nb_car++;
            }
        });

        function cloneCarBloc(nb_car) {
            $("#car_model").find(".num_car").html(nb_car);
            var fields = $('#car_model').clone().show().removeAttr("id");

            if (nb_car > 1) {
                $(".panel-cars").append("<hr style=\"border: 1px solid #e6e6e6;\">")
            }
            fields.find(".car_id").attr("name", "ids[" + nb_car + "]");
            fields.find(".modele").attr("name", "modele[" + nb_car + "]");
            fields.find(".immatricule").attr("name", "immatricule[" + nb_car + "]");

            fields.find(".label_veh_soc").attr("for", "veh_soc" + nb_car);
            fields.find(".label_veh_perso").attr("for", "veh_perso" + nb_car);

            fields.find(".veh_soc").attr({"name": "categorie[" + nb_car + "]", "id": "veh_soc" + nb_car});
            fields.find(".veh_perso").attr({"name": "categorie[" + nb_car + "]", "id": "veh_perso" + nb_car});

            fields.find(".type").attr("name", "type[" + nb_car + "]");
            fields.appendTo('.panel-cars');
        }


    </script>

{% endblock %}