{% trans_default_domain 'FOSUserBundle' %}

{% extends 'baseback.html.twig' %}
{% block title %}


    <h1 class="page-title">Modifier Client</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Dashboard</li>
        <li class="breadcrumb-item ">Gestion des clients</li>
        <li class="breadcrumb-item active">Modifier client</li>
    </ol>
    <div class="page-header-actions">

        <a class="btn btn-success" href="{{ path('registerGerant') }}"><i class="icon wb-plus" aria-hidden="true"></i>Ajouter</a>
    </div>



{% endblock %}
{% block body %}
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>

        <div class="panel-body">

            <!-- ******************************************
            PAGE WRAPPER
            ********************************************** -->


            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {{ form_start(form, {'method': 'post', 'action': path('editClient',{"id":user.id}), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div>
                <input class="btn btn-primary" type="submit" value="Modifier"/>
            </div>
            {{ form_end(form) }}
                <script>
                    $("input[type='password']").removeAttr("required"); 
                </script>

        </div>
    </div>

{% endblock body %}
