{% extends 'baseback.html.twig' %}

  
{% block title %}


    <h1 class="page-title">Gestion Gérants &nbsp;&nbsp;<span class="badge badge-primary">{{ users.getTotalItemCount }} Clients</span>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Gestion des clients</li>
    </ol>
    <div class="page-header-actions">

        <a class="btn btn-success" href="{{ path('registerGerant') }}"><i class="icon wb-plus" aria-hidden="true"></i>Ajouter</a>
    </div>



{% endblock %}
{% block body %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"></h3>
    </div>

    <div class="panel-body container-fluid">


        <table class="table table-striped">
            <thead>
            <tr style="font-style: gras!important;padding:10px!important;text-transform : uppercase!important;background-color: #e8e7e7;">

                <th>Nom</th>
                <th>Teléphone</th>
                <th>Adresse</th>
                <th>Nb véhicules</th>
                <th>e-mail</th>
                <th>Sociéte</th>

                <th class="text-center">action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% for role in user.roles if role == "ROLE_CLIENT" %}
                    <tr>
                        <td class="font-weight-bold">{{ user.nom }}</td>
                        <td >{{ user.telephone }}</td>
                        <td >{{ user.adresse }}</td>
                        <td >{{ user.vehicules.count }}</td>

                        <td>
                            {% if (user.enabled ) %}
                                <i class="icon wb-check-mini" aria-hidden="true" style="color:green"></i>
                            {% else %}
                                <i class="icon wb-close-mini" aria-hidden="true" style="color:red"></i>
                            {% endif %}
                            {{ user.email }} </td>

                        <td>
                            {% if user.societe %}
                                <i class="icon wb-check-mini" aria-hidden="true"
                                   style="color:green"></i>{{ user.societe }}
                            {% else %}
                                <i class="icon wb-close-mini" aria-hidden="true"
                                   style="color:red"></i>{{ user.societeName }}
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-icon btn-success waves-effect waves-light waves-round">
                                <a href="{{ path('editClient', { 'id': user.id }) }}"><i style="color:white"
                                                                                         class="icon wb-pencil"
                                                                                         aria-hidden="true"></i></a>
                            </button>
                        </td>
                    </tr>
                {% endfor %}

            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>
        <br/>
        <br/>
    </div>

    {% endblock %}










                
