{% extends 'baseback.html.twig' %}

{% block title %}
    <link rel="stylesheet" href="{{ asset('back/global/vendor/summernote/summernote.css') }}">
    <h1 class="page-title">
        Qui sommes nous</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item active"> Qui sommes nous</li>
    </ol>


{% endblock %}

{% block body %}

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>

        <div class="panel-body container-fluid col-lg-6">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn btn-outline-warning" type="submit" value="Modifier"/>
            {{ form_end(edit_form) }}


        </div>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script>
        $('textarea').summernote({
            airMode: true
        });

    </script>
{% endblock %}











