{% extends 'baseback.html.twig' %}

{% block title %}


<h1 class="page-title">


Gestion Sociétés &nbsp;&nbsp;<span class="badge badge-primary">{{app.session.get('Societes')}} Sociétés</span></h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item active"> Sociétés</li>
        <li class="breadcrumb-item active">Modifier Sociétés</li>
      </ol>
      <div class="page-header-actions">
     
       <a class="btn btn-success" href="{{ path('societe_new') }}"><i class="icon wb-plus" aria-hidden="true"></i>Ajouter</a>
      </div>
    
{% endblock %}

{% block body %}
  
 <div class="panel">
   <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>

<div class="panel-body container-fluid">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button class="btn btn-outline-warning" type="submit" value="Edit" >Modifier</button>
    {{ form_end(edit_form) }}

   
           <br/> <button class="btn btn-outline-info" href="{{ path('societe_index') }}">Retour</button>
       
            {{ form_start(delete_form) }}
              <br/>  <button class="btn btn-outline-danger" type="submit" value="Delete"> Supprimer</button>
            {{ form_end(delete_form) }}
       </div>
       </div>
{% endblock %}
