{% extends 'baseback.html.twig' %}

{% block title %}


<h1 class="page-title">


Gestion Sociétés &nbsp;&nbsp;<span class="badge badge-primary">{{app.session.get('Societes')}} Sociétés</span></h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item">Gestion Sociétés</li>
           <li class="breadcrumb-item active">Détail Société</li>
      </ol>
      <div class="page-header-actions">
     
       <a class="btn btn-success" href="{{ path('societe_new') }}"><i class="icon wb-plus" aria-hidden="true"></i>Ajouter</a>
      </div>
    
{% endblock %}

{% block body %}
    

    <div class="panel">
   <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>

<div class="panel-body container-fluid">
   
<div class="table-responsive">
    <table class="table table-striped" >
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ societe.id }}</td>
            </tr>
            
            <tr>
                <th>Nom</th>
                <td>{{ societe.nom }}</td>
            </tr>
            
            <tr>
                <th>Email</th>
                <td>{{societe.mail }}</td>
            </tr>
            
            <tr>
                <th>Créneaux disponible</th>
                <td>{{societe.jourRes|join(',') }}</td>
            </tr>
           
            <tr>
                <th>Zone</th>
                  <td>{{ societe.zone|join(',') }}</td>
            </tr>

           
        </tbody>
    </table>

   
            <a class="btn btn-outline-info" href="{{ path('societe_index') }}">Retour</a>
       
            &nbsp;&nbsp;<button class="btn btn-outline-warning" href="{{ path('societe_edit', { 'id': societe.id }) }}">Modifier</button>
       <br/><br/>
            {{ form_start(delete_form) }}
                <button class="btn btn-outline-danger" type="submit" value="Delete"> Supprimer</button>
            {{ form_end(delete_form) }}
       
   
    </div>
     </div>
      </div>
{% endblock %}
