














{% extends 'layout.html.twig' %}
{% block container %}
    <style>
        td {
            border: 0px !important;
        }
        tbody {
            border-top: 0px !important;
        }
        .breadcrumb li a {
            text-decoration: none;
        }
        .breadcrumb {
            font-size: 18px !important;
        }
    </style>


    <section class="content-top">


        <div itemprop="breadcrumb" class="inner">
            <ul class="breadcrumb" style="background-color:white!important">
                <li><a href="/">Accueil</a></li>
                <li><a href="{{ path('produit_liste') }}"> Nos Produits</a></li>
                <li class="last"> {{ produit.libelle }}</li>
            </ul>
        </div>
    </section>

    <section class="main-content clearfix">
        <div id="node-156" class="node node-mega-gabarit timeline-none-column" about="/mes-lubrifiants/plaisance"
             typeof="sioc:Item foaf:Document">
            <div class="paragraphs-items paragraphs-items-field-mega-gabarit-content paragraphs-items-field-mega-gabarit-content-full paragraphs-items-full mega-gabarit-content">
                <div data-position="1" class="container-white container-mg clearfix parent">
                    <div class="inner clearfix">
                        <div class="mega-gabarit mega_gabarit_text_bundle text-rte " about="" typeof="">
                            <div class="in-text-rte">
                                <table cellspacing="1" cellpadding="1" border="0">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="dnd-widget-wrapper context-sdl_editor_representation type-image">
                                                <div class="dnd-atom-rendered">
                                                    <!-- scald=335:sdl_editor_representation -->
                                                    <center>
                                                        <div class="image"><img typeof="foaf:Image"
                                                                                src="{{ asset('admin/uploads/images/products/' ~  produit.image) }}"
                                                                                style="width:250px!important; height:300px!important;">
                                                        </div><!-- END scald=335 -->
                                                </div>
                                                </center>
                                            </div>
                                        </td>
                                        <td style="    vertical-align: top;">
                                            <h3 class="total-title-3"><strong> {{ produit.libelle }}</strong></h3>
                                            <h3 class="total-title-3"><span
                                                        style="color:#DF0C36;font-weight: bold">Prix: {{ produit.prix }} €</span></h3>
                                            <p class="total-title-3">{{ produit.decription }}</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}