{% extends 'layout.html.twig' %}
{% block container %}


    <div class="content clearfix">
        <section class="content-top" style="background-color: white!important">
            <div itemprop="breadcrumb" class="inner">
                <ul style="background-color:white!important" class="breadcrumb">
                    <li><a href="/">Accueil</a></li>
                    <li class="last"> nos produits</li>
                </ul>
            </div>
        </section>
        <section class="main-content clearfix">
            <div class="title-media">
                <div class="inner">
                    <h1 class="demo2"><strong>nos produits</strong></h1>
                </div>
            </div>
            <div id="node-109" class="node node-mega-gabarit timeline-none-column" about="/mes-lubrifiants"
                 typeof="sioc:Item foaf:Document">

                <div class="paragraphs-items paragraphs-items-field-mega-gabarit-content paragraphs-items-field-mega-gabarit-content-full paragraphs-items-full mega-gabarit-content">

                    <div data-position="1" class="container-white container-mg clearfix parent">
                        <div class="inner clearfix">
                            <div class="mega-gabarit mega_gabarit_text_bundle text-rte " about="" typeof="">
                                <div class="in-text-rte">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-position="1" class="container-white container-mg clearfix parent container-block-edito">
                        <div class="inner clearfix">


                            {% for produit in produits %}
                                <div class="mega-gabarit mega_gabarit_edito_bundle one-columns " about="" typeof=""
                                     style="margin-top: 20px">
                                    <div class="edito edito_1col">
                                        <div>
                                            <article>

                                                <div>
                                                    <center>
                                                        <picture>
                                                            <br/>
                                                            <img src={{ asset('admin/uploads/images/products/' ~  produit.image) }} style="height:
                                                                 280px!important;
                                                                 width: 200px!important;" >
                                                        </picture>
                                                    </center>
                                                </div>
                                                <div class="total-block-edito-text">
                                                    <h2 class="total-block-edito-text__title"><a
                                                                href="{{ path('produit_detail', { 'id': produit.id }) }}"
                                                                aria-label="Automobile (En savoir plus)"
                                                                title="Automobile" class=""
                                                                style="font-size: 25px;line-height: 30px;color: #DF0C36!important;font-family: HelveticaNeueW02-47LtCn 694048;">{{ produit.libelle }}</a>
                                                    </h2>
                                                    <div class="total-block-edito-text__desc"><a
                                                                href="{{ path('produit_detail', { 'id': produit.id }) }}"
                                                                aria-label="Automobile (En savoir plus)"
                                                                title="Automobile" class="">{{ produit.decription }}</a>
                                                    </div>
                                                    <div class="total-block-edito-text__cta "><a
                                                                href="{{ path('produit_detail', { 'id': produit.id }) }}"
                                                                aria-label="Automobile (En savoir plus)"
                                                                title="Automobile" style="color: #DF0C36!important;">En
                                                            savoir plus</a></div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                    </div>

                </div>
            </div>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(produits) }}
    </div>

{% endblock %}
