{% extends 'layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/vendor/bootstrap/css/front.css') }}">

{% endblock %}
{% block container %}

    <section style="width: 100%!important;">

        <div style=" width: 100%;
  height: 500px;
  background-image: url('/back/uploads/images/products/bg.jpg');
  background-repeat: no-repeat;
   background-size: cover;
   background-position: center ;"
        >
            <div><h1 class="title1"><br/><strong>NETTOYER VOTRE VOITURE <br/>SERVICE 24/7</strong></h1>
                <div style="text-align:center!important;color:white;">
                    <br/>
                    <a href="{{ path('front_reservation_new') }}">
                        <button class="btn1"><i class="icon wb-play" aria-hidden="true"></i>&nbsp;&nbsp;Obtenir un
                            rendez-vous
                        </button>
                    </a>

                    <button class="btn2"><i class="icon wb-play" aria-hidden="true"></i>&nbsp;&nbsp;Contactez nous
                    </button>
                </div>
            </div>

        </div>
    </section>


    <section class="main-content clearfix" role="main">
        <div id="node-48" class="node node-mega-gabarit timeline-none-column" about="/accueil"
             typeof="sioc:Item foaf:Document">
            <div class="paragraphs-items paragraphs-items-field-mega-gabarit-content paragraphs-items-field-mega-gabarit-content-full paragraphs-items-full mega-gabarit-content">
                <div data-position="1" class="container-grey container-mg clearfix parent">
                    <div class="inner clearfix">
                        <div class="mega-gabarit mega_gabarit_text_bundle text-rte " about="" typeof="">


                            <div class="row">
                                <div class="col-lg-6 col-sm-12"><br/>
                                    <h2 class="demo1"><strong style="color:#DF0C36;">TWIP</strong> qui sommes-nous?</h2>

                                    <span class="block-offer-custom--txt" style="font-size: 17px!important;
    font-family: Arial!important;color:#666;">{{ about_us|raw }}</span>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <br/>
                                    <div class="row justify-content-start">
                                        <div class="col-lg-4 col-sm-12"><img style=" max-width: 100%;height: 130px;
  " src="{{ asset('back/uploads/images/products/img_about1.png') }}">

                                            <img style=" max-width: 100%;height:130px;margin-top: 10px;
  " src="{{ asset('back/uploads/images/products/img_about2.png') }}">
                                        </div>
                                        <div class="col-lg-8 col-sm-12">

                                            <img style=" max-width: 100%;
  height:  83%;margin-left: -20px;" src="{{ asset('back/uploads/images/products/bg_mail.jpg') }}">
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>

                <section>
                    <h1 style="text-align:center!important;font-family: Helvetica Neue LT Pro 37 Thin Condensed!important;!important;font-size: 24px!important;">
                        <br/><br/><strong>NOS SERVICES</strong></h1>
                    <br/>
                    <br/>

                    <div class="container" style="font-family: Arial!important;font-size: 17px!important;">
                        <div class="row justify-content-md-center">
                            <div class="col-sm">
                                <center><img src="{{ asset('back/uploads/images/products/ic_rdv.png') }}">
                                    <br/>
                                    <br/>
                                    <br/>
                                    <strong style="font-family: Arial!important;font-size: 17px!important;">PRENDRE
                                        RENDEZ-VOUS</strong>

                                    <p style="font-family: Arial!important;font-size: 17px!important;color:#666;">
                                        <br/><br/>Duis
                                        autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                        consequat,
                                        vel illum dolore eu feugiat nulla facilisis.</p>

                                </center>
                            </div>
                            <div class="col-sm">
                                <center><img src="{{ asset('back/uploads/images/products/ic_produit.png') }}">
                                    <br/>
                                    <br/>
                                    <br/>
                                    <strong style="font-family: Arial!important;font-size: 17px!important;">NOUS
                                        FOURNISSONS
                                        LES MEILLEURS PRODUITS</strong>

                                    <p style="font-family: Arial!important;font-size: 17px!important;color:#666;"><br/>Lorem
                                        ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                        euismod
                                        tincidunt ut laoreet dolore magna.</p>
                                </center>
                            </div>
                            <div class="col-sm">
                                <center><img src="{{ asset('back/uploads/images/products/ic_satisf.png') }}">
                                    <br/>
                                    <br/>
                                    <br/>
                                    <strong style="font-family: Arial!important;font-size: 17px!important;">SATISFACTION</strong>

                                    <p style="font-family: Arial!important;font-size: 17px!important;color:#666;">
                                        <br/><br/>Ut
                                        wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                        lobortis
                                        nisl ut aliquip ex ea commodo consequat. </p>
                                </center>
                            </div>
                        </div>
                    </div>
                    <h1 style="text-align:center!important;font-family: Helvetica Neue LT Pro 37 Thin Condensed!important;!important;font-size: 24px!important;">
                        <br><br><strong></strong></h1>
                </section>


                <style type="text/css">
                    .storemap-store-locator input[type="checkbox"] + label {
                        display: inline;
                    }

                    .storemap-store-locator input[type="checkbox"] + label {
                        margin-left: 0;
                    }

                    .storemap-store-locator input[type="checkbox"] + label::before, input[type="radio"] + label::before {
                        display: none;
                    }
                </style>
            </div>
        </div>

    </section>
{% endblock %}
