{% extends 'baseback.html.twig' %}

{% block title %}


    <h1 class="page-title">


        Gestion Zones</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item active">Gestion Zones</li>
    </ol>
    <div class="page-header-actions">

        <a class="btn btn-success" href="{{ path('zone_new') }}"><i class="icon wb-plus" aria-hidden="true"></i>Ajouter</a>
    </div>

{% endblock %}

{% block body %}


<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"></h3>
    </div>

    <div class="panel-body container-fluid">

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr style="font-style: gras!important;padding:10px!important;text-transform : uppercase!important;background-color: #e8e7e7;">

                    <th>N°</th>
                    <th>Zone</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for zone in zones %}
                    <tr>
                        <td>{{ zone.id }}</td>
                        <td>{{ zone.name }}</td>
                        <td class="text-center">


                            <button type="button" class="btn btn-icon btn-danger waves-effect waves-light waves-round">
                                <a href="{{ path('zone_delete', { 'id': zone.id }) }}"><i style="color:white"
                                                                                          class="icon wb-trash"
                                                                                          aria-hidden="true"></i></a>
                            </button>


                            <button type="button" class="btn btn-icon btn-success waves-effect waves-light waves-round">
                                <a href="{{ path('zone_edit', { 'id': zone.id }) }}"><i style="color:white"
                                                                                        class="icon wb-pencil"
                                                                                        aria-hidden="true"></i></a>
                            </button>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% endblock %}
