{% extends 'baseback.html.twig' %}

{% block title %}


    <h1 class="page-title">


        Gestion Zones </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item">Gestion Zones</li>
        <li class="breadcrumb-item active">Ajouter Zone</li>
    </ol>
    <div class="page-header-actions">

        <a class="btn btn-success" href="{{ path('zone_new') }}"><i class="icon wb-plus" aria-hidden="true"></i>Ajouter</a>
    </div>

{% endblock %}
{% block body %}
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>

        <div class="panel-body container-fluid col-lg-6">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-outline-success" type="submit" value="Ajouter"/>
            <a class="btn btn-outline-info"
               href="{{ path('coupon_index') }}"
               style="margin-left: 10px;">Retour</a>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

